# 노원구

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. V10O1610102(하계1동)

## 2018년 5월 7일부터 데이터가 있음, 그전까지의 데이터는 없음

## 2018년 9월 16일 데이터 NaN, 그리고 18일부터 데이터 X

## 2018년 10월 1~9일까지 데이터 X

In [0]:
df1= pd.read_csv('환경기상데이터/노원구/V10O1610102.csv')
df1.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df1 = df1.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df1['tm'] = df1.tm.apply(lambda x: str(x))
df1['tm'] = df1.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df1.set_index('tm', inplace = True)
df1.info()

for i in range(5, 13, 1):
    num = df1['2018-{0}'.format(i)].shape
    if i ==6 or i==9 or i==11 :
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df1['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 437760 entries, 2018-05-07 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    437760 non-null object
flag      437760 non-null int64
pm10      437760 non-null int64
temp      437760 non-null float64
humi      437760 non-null int64
pm25      417423 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 23.4+ MB
5월: 33120 , 원래값과 차이 11520
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 23040 , 원래값과 차이 20160
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df1['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.004861   0.138194   0.049792   0.261806  10.285714
2018-10-11  1.000000  24.154167  11.254722  46.995833  11.515972
2018-10-12  1.000000  29.065972  11.647917  54.312500  15.487500
2018-10-13  1.000000  37.910417  12.540625  57.734028  26.116667
2018-10-14  1.000000  54.107639  13.655139  59.047917  38.582639
2018-10-15  1.000000  83.430556  15.655208  65.864583  50.722222
2018-10-16  1.000000  82.479861  14.950417  57.364583  48.206944
2018-10-17  1.000000  45.990972  13.458958  53.765972  24.818056
2018-10-18  1.000000  22.284028  13.126875  59.391667  12.152083
2018-10-19  1.000000  23.781250  14.193681  51.252083  13.114583
2018-10-20  1.000000  45.673611  13.540417  53.813194  25.986111
2018-10-21  1.000000  41.922222  13.379792  52.097917  27.359028
2018-10-22  1.000000  70.958333  14.193611  52.920833  48.864583
2018-10-23  1.000000  66.209722  12.899167  73.154861  45.910417
2018-10-24  1.000000  56.037500  12.982569  65.341667  27.478472
2018-10-25  1.000000  39.591667  13.577083  61.109722  22.032639
2018-10-26  1.000000  40.031944  12.968333  75.332639  26.250694
2018-10-27  1.000000  32.572222  10.419444  44.770139   8.134028
2018-10-28  1.000000  18.551389   8.996944  75.380556  11.091667
2018-10-29  1.000000  26.771528   8.608472  58.809028  13.652778
2018-10-30  1.000000  27.179861   7.795000  46.245833  15.183333
2018-10-31  1.000000  25.037500   8.886181  49.667361  16.667361

In [0]:
# pm25가 NaN인 시간들 찾아내기

df1['pm25'].isnull().index

DatetimeIndex(['2018-05-07 00:00:00', '2018-05-07 00:01:00',
               '2018-05-07 00:02:00', '2018-05-07 00:03:00',
               '2018-05-07 00:04:00', '2018-05-07 00:05:00',
               '2018-05-07 00:06:00', '2018-05-07 00:07:00',
               '2018-05-07 00:08:00', '2018-05-07 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=437760, freq=None)

# 2. V10O1610200 (상계3.4동-(1))

## 2018년 6,7,8,10,12월, 2019년 1월 데이터 X

## 2018년 5월 2,4,5,6,8,9,18,19일 NaN처리, 21일부터 데이터 X

## 2018년 9월 1~18일까지, 그리고 22일~30일까지 데이터X

## 2018년 11월 1~11일까지, 그리고 26일~30일까지 데이터X

## 2019년 2월 1~13일까지, 그리고 25일~28일까지 데이터 X

## 2019년 3월 1~10일까지, 그리고 18일~31일까지 데이터X, 그리고 12,13,14일 NaN처리

In [0]:
df2= pd.read_csv('환경기상데이터/노원구/V10O1610200.csv')
df2.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df2 = df2.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df2['tm'] = df2.tm.apply(lambda x: str(x))
df2['tm'] = df2.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df2.set_index('tm', inplace = True)
df2.info()

for i in range(4, 13, 1):
    num = df2['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df2['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 108000 entries, 2018-04-01 00:00:00 to 2019-03-18 23:59:00
Data columns (total 6 columns):
serial    108000 non-null object
flag      108000 non-null int64
pm10      108000 non-null int64
temp      108000 non-null float64
humi      108000 non-null int64
pm25      89216 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 5.8+ MB
4월: 43200 , 원래값과 차이 0
5월: 17280 , 원래값과 차이 27360
6월: 0 , 원래값과 차이 43200
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 4320 , 원래값과 차이 38880
10월: 0 , 원래값과 차이 44640
11월: 20160 , 원래값과 차이 23040
12월: 0 , 원래값과 차이 44640
1월: 0 , 원래값과 차이 44640
2월: 15840 , 원래값과 차이 24480
3월: 7200 , 원래값과 차이 37440

In [0]:
df2['2019-3'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2019-03-11  0.003472   0.181944   0.086875   0.064583  34.600000
2019-03-12       NaN        NaN        NaN        NaN        NaN
2019-03-13       NaN        NaN        NaN        NaN        NaN
2019-03-14       NaN        NaN        NaN        NaN        NaN
2019-03-15  0.378472   9.522222   7.912569   8.159722  13.715596
2019-03-16  1.000000  32.218750  18.732431  24.369444  22.372222
2019-03-17  1.000000  40.044444  18.331875  25.106944  25.204167
2019-03-18  0.600694  23.912500  12.313889  12.429167  24.268208

In [0]:
# pm25가 NaN인 시간들 찾아내기

df2['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-18 23:50:00', '2019-03-18 23:51:00',
               '2019-03-18 23:52:00', '2019-03-18 23:53:00',
               '2019-03-18 23:54:00', '2019-03-18 23:55:00',
               '2019-03-18 23:56:00', '2019-03-18 23:57:00',
               '2019-03-18 23:58:00', '2019-03-18 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=108000, freq=None)

# 3. V10O1610293 (상계3.4동-(2))

## 2018-5-27일 NaN 처리

## 2018년 9월 20~30일까지 데이터X

## 2018년 10월 1~9일까지 데이터X

In [0]:
df3= pd.read_csv('환경기상데이터/노원구/V10O1610293.csv')
df3.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df3 = df3.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df3['tm'] = df3.tm.apply(lambda x: str(x))
df3['tm'] = df3.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df3.set_index('tm', inplace = True)
df3.info()

for i in range(4, 13, 1):
    num = df3['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df3['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 495360 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    495360 non-null object
flag      495360 non-null int64
pm10      495360 non-null int64
temp      495360 non-null float64
humi      495360 non-null int64
pm25      490990 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 43200 , 원래값과 차이 1440
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 27360 , 원래값과 차이 15840
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df3['2018-10'].resample('D').mean()

                flag        pm10       temp       humi       pm25
tm
2018-10-10  0.011806    1.076389   0.126528   0.534722  34.235294
2018-10-11  1.000000   68.094444  11.657431  43.611806  33.869444
2018-10-12  1.000000   91.509722  11.936181  50.807639  49.706944
2018-10-13  1.000000  124.663194  13.063403  53.050000  88.063889
2018-10-14  1.000000  129.970833  13.999306  54.911806  93.233333
2018-10-15  1.000000  148.833333  15.849306  62.091667  92.307639
2018-10-16  1.000000  147.052778  15.430139  51.897222  87.081944
2018-10-17  1.000000   75.208333  13.837014  49.818750  40.511111
2018-10-18  1.000000   43.574306  13.309444  55.451389  24.109722
2018-10-19  1.000000   37.425694  14.322431  47.818750  21.052083
2018-10-20  1.000000   47.724306  14.017569  49.481944  27.475694
2018-10-21  1.000000   36.478472  13.939583  47.850694  24.106250
2018-10-22  1.000000   74.285417  14.635556  48.725000  51.150000
2018-10-23  1.000000   67.613194  13.123611  68.280556  47.368056
2018-10-24  1.000000   73.265278  13.495486  61.120833  35.020833
2018-10-25  1.000000   45.694444  14.252778  56.265972  26.516667
2018-10-26  1.000000   34.808333  13.157847  70.897222  23.161806
2018-10-27  1.000000   25.113889  10.688889  42.252083   6.122222
2018-10-28  1.000000   18.544444   8.968264  69.804167  11.108333
2018-10-29  1.000000   22.139583   8.737986  54.865972  11.911111
2018-10-30  1.000000   22.898611   7.936528  42.797917  12.595139
2018-10-31  1.000000   24.347222   9.155000  45.845139  16.172917

In [0]:
# pm25가 NaN인 시간들 찾아내기

df3['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=495360, freq=None)

# 5. V10O1610312 (상계3.4동-(3))

## 2018년 4월 6일~30일까지 데이터X

## 2018년 5월 1~6일까지, 그리고 31일 데이터X, 그리고 8,9,20~29까지 NaN처리

## 2018년 6월 1,2, 16~30일까지 데이터 X, 그리고 4일 NaN처리

## 2018년 10월 1~9일까지 데이터X

In [0]:
df5= pd.read_csv('환경기상데이터/노원구/V10O1610312.csv')
df5.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df5 = df5.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df5['tm'] = df5.tm.apply(lambda x: str(x))
df5['tm'] = df5.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df5.set_index('tm', inplace = True)
df5.info()

for i in range(4, 13, 1):
    num = df5['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df5['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 290880 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    290880 non-null object
flag      290880 non-null int64
pm10      290880 non-null int64
temp      290880 non-null float64
humi      290880 non-null int64
pm25      274703 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 15.5+ MB
4월: 7200 , 원래값과 차이 36000
5월: 17280 , 원래값과 차이 27360
6월: 17280 , 원래값과 차이 25920
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df5['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.206944   6.842361   2.598194   7.906250  14.885906
2018-10-11  1.000000  28.313889  11.995556  42.220139  11.525000
2018-10-12  1.000000  33.575694  12.467014  48.929861  16.123611
2018-10-13  1.000000  54.143750  13.698125  50.595139  29.781250
2018-10-14  1.000000  49.454167  14.475694  53.750694  29.162500
2018-10-15  1.000000  72.786806  16.548264  60.062500  41.472917
2018-10-16  1.000000  70.093056  16.141250  48.970833  37.557639
2018-10-17  1.000000  41.293056  14.325000  48.399306  20.500000
2018-10-18  1.000000  24.806944  14.041111  54.506944  11.360417
2018-10-19  1.000000  26.661111  14.815972  46.290972  10.975694
2018-10-20  1.000000  41.355556  14.621806  47.628472  20.506250
2018-10-21  1.000000  40.086111  14.564722  45.669444  21.354167
2018-10-22  1.000000  75.742361  15.388056  46.360417  40.943056
2018-10-23  1.000000  68.443750  14.033958  64.259722  37.549306
2018-10-24  1.000000  43.589583  14.257847  57.461806  17.186806
2018-10-25  1.000000  38.525694  15.002292  52.967361  16.911806
2018-10-26  1.000000  42.968750  14.263125  64.718750  21.942361
2018-10-27  1.000000  26.597917  11.184931  41.027778   6.119444
2018-10-28  1.000000  21.811806  10.112361  63.633333   9.672917
2018-10-29  1.000000  22.679167   9.298889  52.352778   9.909722
2018-10-30  1.000000  23.088194   8.312500  41.463889  10.952778
2018-10-31  1.000000  25.943056   9.580208  44.104861  13.657639

In [0]:
# pm25가 NaN인 시간들 찾아내기

df5['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=290880, freq=None)

# 6. V10O1610351 (상계 3,4동-(4))

## 2018년 6,7,8,9월 데이터X

## 2018년 4월 1~8일까지 데이터X, 그리고 10~19, 21,22,28,29일 NaN

## 2018년 5월 1일, 그리고 9~31일까지 데이터X, 그리고 4~7까지 NaN

## 2018년 10월 1~9일까지 데이터X

In [0]:
df6= pd.read_csv('환경기상데이터/노원구/V10O1610351.csv')
df6.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df6 = df6.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df6['tm'] = df6.tm.apply(lambda x: str(x))
df6['tm'] = df6.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df6.set_index('tm', inplace = True)
df6.info()

for i in range(4, 13, 1):
    num = df6['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df6['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 264960 entries, 2018-04-09 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    264960 non-null object
flag      264960 non-null int64
pm10      264960 non-null int64
temp      264960 non-null float64
humi      264960 non-null int64
pm25      250895 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 14.2+ MB
4월: 11520 , 원래값과 차이 31680
5월: 4320 , 원래값과 차이 40320
6월: 0 , 원래값과 차이 43200
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df6['2018-10'].resample('D').mean()

                flag        pm10       temp       humi        pm25
tm
2018-10-10  0.009028    0.267361   0.083889   0.489583    9.076923
2018-10-11  1.000000  205.610417  11.027569  49.345833   90.331250
2018-10-12  1.000000  257.998611  11.639375  55.688889  130.632639
2018-10-13  1.000000   40.928472  12.767431  59.054167   24.305556
2018-10-14  1.000000   36.963889  13.798819  59.868750   23.722917
2018-10-15  1.000000   71.654861  15.744444  66.361111   43.033333
2018-10-16  1.000000   70.821528  15.128403  56.947917   41.751389
2018-10-17  1.000000   33.237500  13.732986  54.551389   17.315278
2018-10-18  1.000000   16.613194  13.305556  58.906250    9.612500
2018-10-19  1.000000   20.004861  14.196458  51.322222    9.292361
2018-10-20  1.000000   32.611111  13.657014  55.442361   16.679861
2018-10-21  1.000000   29.165278  13.533264  53.347917   16.884028
2018-10-22  1.000000   63.049306  14.304514  54.865972   37.403472
2018-10-23  1.000000   55.957639  12.733958  74.017361   33.097917
2018-10-24  1.000000   29.784722  12.994236  68.071528   11.894444
2018-10-25  1.000000   32.354861  13.760972  64.214583   15.560417
2018-10-26  1.000000   25.568056  12.745625  77.168056   13.856944
2018-10-27  1.000000   19.894444  10.117708  46.877083    4.472917
2018-10-28  1.000000   13.295139   8.803681  74.423611    7.520833
2018-10-29  1.000000   16.018056   8.432222  60.333333    7.928472
2018-10-30  1.000000   19.125000   7.527986  47.958333    9.487500
2018-10-31  1.000000   20.571528   8.638681  51.384722   10.657639

In [0]:
# pm25가 NaN인 시간들 찾아내기

df6['pm25'].isnull().index

DatetimeIndex(['2018-04-09 00:00:00', '2018-04-09 00:01:00',
               '2018-04-09 00:02:00', '2018-04-09 00:03:00',
               '2018-04-09 00:04:00', '2018-04-09 00:05:00',
               '2018-04-09 00:06:00', '2018-04-09 00:07:00',
               '2018-04-09 00:08:00', '2018-04-09 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=264960, freq=None)

# 7. V10O1610356 (상계3,4동 -(5))

## 2018년 6,7,8월 데이터X

## 2018년 5월 16~31일까지 데이터X

## 2018년 9월 1~ 28일까지 데이터X

In [0]:
df7= pd.read_csv('환경기상데이터/노원구/V10O1610356.csv')
df7.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df7 = df7.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df7['tm'] = df7.tm.apply(lambda x: str(x))
df7['tm'] = df7.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df7.set_index('tm', inplace = True)
df7.info()

for i in range(4, 13, 1):
    num = df7['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df7['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 329760 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    329760 non-null object
flag      329760 non-null int64
pm10      329760 non-null int64
temp      329760 non-null float64
humi      329760 non-null int64
pm25      315298 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 17.6+ MB
4월: 43200 , 원래값과 차이 0
5월: 21600 , 원래값과 차이 23040
6월: 0 , 원래값과 차이 43200
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 2880 , 원래값과 차이 40320
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df7['2018-9'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-09-29  0.429861   8.938194  10.164583  18.065278  12.547658
2018-09-30  1.000000  24.666667  18.607014  51.909028  12.423611

In [0]:
# pm25가 NaN인 시간들 찾아내기

df7['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=329760, freq=None)

# 8. V10O1610376 (상계3,4동 -(6))

## 2018년 5월 7일부터 데이터가 존재, 그 전까지는 데이터가 없음.

## 2018년 9월 18~30일까지 데이터X, 그리고 16일NaN처리

## 2018년 10월 1~9일까지 데이터X

In [0]:
df8= pd.read_csv('환경기상데이터/노원구/V10O1610102.csv')
df8.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df8 = df8.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df8['tm'] = df8.tm.apply(lambda x: str(x))
df8['tm'] = df8.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df8.set_index('tm', inplace = True)
df8.info()

for i in range(5, 13, 1):
    num = df8['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df8['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 437760 entries, 2018-05-07 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    437760 non-null object
flag      437760 non-null int64
pm10      437760 non-null int64
temp      437760 non-null float64
humi      437760 non-null int64
pm25      417423 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 23.4+ MB
5월: 33120 , 원래값과 차이 11520
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 23040 , 원래값과 차이 20160
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df8['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.004861   0.138194   0.049792   0.261806  10.285714
2018-10-11  1.000000  24.154167  11.254722  46.995833  11.515972
2018-10-12  1.000000  29.065972  11.647917  54.312500  15.487500
2018-10-13  1.000000  37.910417  12.540625  57.734028  26.116667
2018-10-14  1.000000  54.107639  13.655139  59.047917  38.582639
2018-10-15  1.000000  83.430556  15.655208  65.864583  50.722222
2018-10-16  1.000000  82.479861  14.950417  57.364583  48.206944
2018-10-17  1.000000  45.990972  13.458958  53.765972  24.818056
2018-10-18  1.000000  22.284028  13.126875  59.391667  12.152083
2018-10-19  1.000000  23.781250  14.193681  51.252083  13.114583
2018-10-20  1.000000  45.673611  13.540417  53.813194  25.986111
2018-10-21  1.000000  41.922222  13.379792  52.097917  27.359028
2018-10-22  1.000000  70.958333  14.193611  52.920833  48.864583
2018-10-23  1.000000  66.209722  12.899167  73.154861  45.910417
2018-10-24  1.000000  56.037500  12.982569  65.341667  27.478472
2018-10-25  1.000000  39.591667  13.577083  61.109722  22.032639
2018-10-26  1.000000  40.031944  12.968333  75.332639  26.250694
2018-10-27  1.000000  32.572222  10.419444  44.770139   8.134028
2018-10-28  1.000000  18.551389   8.996944  75.380556  11.091667
2018-10-29  1.000000  26.771528   8.608472  58.809028  13.652778
2018-10-30  1.000000  27.179861   7.795000  46.245833  15.183333
2018-10-31  1.000000  25.037500   8.886181  49.667361  16.667361

In [0]:
# pm25가 NaN인 시간들 찾아내기

df8['pm25'].isnull().index

DatetimeIndex(['2018-05-07 00:00:00', '2018-05-07 00:01:00',
               '2018-05-07 00:02:00', '2018-05-07 00:03:00',
               '2018-05-07 00:04:00', '2018-05-07 00:05:00',
               '2018-05-07 00:06:00', '2018-05-07 00:07:00',
               '2018-05-07 00:08:00', '2018-05-07 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=437760, freq=None)

# 16. V10O1611100 (상계 3,4동-(7))

## 결측값 없음

In [0]:
df16= pd.read_csv('환경기상데이터/노원구/V10O1611100.csv')
df16.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df16 = df16.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df16['tm'] = df16.tm.apply(lambda x: str(x))
df16['tm'] = df16.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df16.set_index('tm', inplace = True)
df16.info()

for i in range(4, 13, 1):
    num = df16['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df16['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      523318 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df16['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 17. V10O1611102 (상계3,4동 -(8))

## 결측값 없음

In [0]:
df17= pd.read_csv('환경기상데이터/노원구/V10O1611102.csv')
df17.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df17 = df17.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df17['tm'] = df17.tm.apply(lambda x: str(x))
df17['tm'] = df17.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df17.set_index('tm', inplace = True)
df17.info()

for i in range(4, 13, 1):
    num = df17['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df17['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      524925 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df17['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 18. V10O1611104 (상계 3,4동 -(9))

## 결측값 없음

In [0]:
df18= pd.read_csv('환경기상데이터/노원구/V10O1611104.csv')
df18.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df18 = df18.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df18['tm'] = df18.tm.apply(lambda x: str(x))
df18['tm'] = df18.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df18.set_index('tm', inplace = True)
df18.info()

for i in range(4, 13, 1):
    num = df18['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df18['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525400 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df18['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 19. V10O1611150 (상계 3,4동 -(10))

## 결측값 없음

In [0]:
df19= pd.read_csv('환경기상데이터/노원구/V10O1611150.csv')
df19.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df19 = df19.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df19['tm'] = df19.tm.apply(lambda x: str(x))
df19['tm'] = df19.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df19.set_index('tm', inplace = True)
df19.info()

for i in range(4, 13, 1):
    num = df19['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df19['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525417 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df19['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 4. V10O1610297 (상계 5동)\

## 2018년 7~12월까지 데이터X

## 2019년 1,2월 데이터X

## 2018년 6월 19~30일까지 데이터X

## 2019년 3월에는 27일만 데이터 존재, 나머지는 없음

In [0]:
df4= pd.read_csv('환경기상데이터/노원구/V10O1610297.csv')
df4.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df4 = df4.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df4['tm'] = df4.tm.apply(lambda x: str(x))
df4['tm'] = df4.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df4.set_index('tm', inplace = True)
df4.info()

for i in range(4, 13, 1):
    num = df4['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df4['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 115200 entries, 2018-04-01 00:00:00 to 2019-03-27 23:59:00
Data columns (total 6 columns):
serial    115200 non-null object
flag      115200 non-null int64
pm10      115200 non-null int64
temp      115200 non-null float64
humi      115200 non-null int64
pm25      112653 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 6.2+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 25920 , 원래값과 차이 17280
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 0 , 원래값과 차이 44640
11월: 0 , 원래값과 차이 43200
12월: 0 , 원래값과 차이 44640
1월: 0 , 원래값과 차이 44640
2월: 0 , 원래값과 차이 40320
3월: 1440 , 원래값과 차이 43200

In [0]:
df4['2019-3'].resample('D').mean()

                flag     pm10      temp      humi   pm25
tm
2019-03-27  0.002083  0.41875  0.059097  0.046528  138.0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df4['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-27 23:50:00', '2019-03-27 23:51:00',
               '2019-03-27 23:52:00', '2019-03-27 23:53:00',
               '2019-03-27 23:54:00', '2019-03-27 23:55:00',
               '2019-03-27 23:56:00', '2019-03-27 23:57:00',
               '2019-03-27 23:58:00', '2019-03-27 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=115200, freq=None)

# 9. V10O1610610 (하계1동)

## 2018년 7월 2일까지의 데이터 존재, 그 이후로는 없다

In [0]:
df9= pd.read_csv('환경기상데이터/노원구/V10O1610610.csv')
df9.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df9 = df9.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df9['tm'] = df9.tm.apply(lambda x: str(x))
df9['tm'] = df9.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df9.set_index('tm', inplace = True)
df9.info()

for i in range(4, 8, 1):
    num = df9['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 133920 entries, 2018-04-01 00:00:00 to 2018-07-02 23:59:00
Data columns (total 6 columns):
serial    133920 non-null object
flag      133920 non-null int64
pm10      133920 non-null int64
temp      133920 non-null float64
humi      133920 non-null int64
pm25      132245 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 7.2+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 2880 , 원래값과 차이 41760

In [0]:
# pm25가 NaN인 시간들 찾아내기

df9['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2018-07-02 23:50:00', '2018-07-02 23:51:00',
               '2018-07-02 23:52:00', '2018-07-02 23:53:00',
               '2018-07-02 23:54:00', '2018-07-02 23:55:00',
               '2018-07-02 23:56:00', '2018-07-02 23:57:00',
               '2018-07-02 23:58:00', '2018-07-02 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=133920, freq=None)

# 10.V10O1610616 (상계2동)

## 2018년 9월 30일 데이터X

## 2018년 10월 1~7일까지 데이터X

In [0]:
df10= pd.read_csv('환경기상데이터/노원구/V10O1610616.csv')
df10.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df10 = df10.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df10['tm'] = df10.tm.apply(lambda x: str(x))
df10['tm'] = df10.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df10.set_index('tm', inplace = True)
df10.info()

for i in range(4, 13, 1):
    num = df10['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df10['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 514080 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    514080 non-null object
flag      514080 non-null int64
pm10      514080 non-null int64
temp      514080 non-null float64
humi      514080 non-null int64
pm25      511248 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 27.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 41760 , 원래값과 차이 1440
10월: 34560 , 원래값과 차이 10080
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df10['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-08  0.419444  14.117361   6.936458  15.993056  11.049669
2018-10-09  1.000000  41.465972  15.633403  52.287500  20.852778
2018-10-10  1.000000  34.093750  13.071597  55.515278  18.457639
2018-10-11  1.000000  28.808333  10.030556  49.188889  14.485417
2018-10-12  1.000000  39.177778  11.244306  53.534028  21.062500
2018-10-13  1.000000  55.718056  12.574375  54.734722  38.863889
2018-10-14  1.000000  75.283333  13.648125  57.002778  54.127083
2018-10-15  1.000000  98.218750  15.273611  65.290972  59.861111
2018-10-16  1.000000  95.740972  14.803542  53.413889  56.676389
2018-10-17  1.000000  53.720833  13.135139  52.080556  29.168056
2018-10-18  1.000000  26.454167  12.736250  59.590278  14.256250
2018-10-19  1.000000  31.295139  13.797708  49.530556  17.405556
2018-10-20  1.000000  46.665278  13.625486  50.747917  26.940278
2018-10-21  1.000000  44.002778  13.654375  48.719444  29.200000
2018-10-22  1.000000  76.400694  14.387222  49.530556  53.043750
2018-10-23  1.000000  79.104167  12.971667  68.873611  55.096528
2018-10-24  1.000000  44.857639  12.916597  62.597222  21.843750
2018-10-25  1.000000  39.497917  14.154167  56.566667  22.006250
2018-10-26  1.000000  39.920833  13.167153  68.411111  26.398611
2018-10-27  1.000000  27.594444   9.768611  44.426389   6.959028
2018-10-28  1.000000  18.368056   8.973750  67.781250  10.915278
2018-10-29  1.000000  20.161111   8.033333  56.664583  10.878472
2018-10-30  1.000000  21.672917   7.227361  45.046528  11.843056
2018-10-31  1.000000  23.069444   8.375694  48.190278  15.360417

In [0]:
# pm25가 NaN인 시간들 찾아내기

df10['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=514080, freq=None)

# 11. V10O1610629 (공릉2동-(1))

## 2018년 5월 7일부터 데이터 존재, 그 이전에는 없음

## 2018년 9월 20~30일까지 데이터X

## 2018년 10월 1~9일까지 데이터X

In [0]:
df11= pd.read_csv('환경기상데이터/노원구/V10O1610629.csv')
df11.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df11 = df11.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df11['tm'] = df11.tm.apply(lambda x: str(x))
df11['tm'] = df11.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df11.set_index('tm', inplace = True)
df11.info()

for i in range(4, 13, 1):
    num = df11['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df11['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 496800 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    496800 non-null object
flag      496800 non-null int64
pm10      496800 non-null int64
temp      496800 non-null float64
humi      496800 non-null int64
pm25      492593 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 27360 , 원래값과 차이 15840
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df11['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.096528   1.720139   1.116458   4.066667   5.388489
2018-10-11  1.000000  15.948611  11.833819  44.733333   7.120139
2018-10-12  1.000000  21.981944  12.503681  50.894444  11.045833
2018-10-13  1.000000  26.957639  13.707639  52.938889  15.743750
2018-10-14  1.000000  29.929167  14.685000  54.422917  18.709028
2018-10-15  1.000000  66.418750  16.615764  62.176389  40.222917
2018-10-16  1.000000  68.852083  15.943819  53.977778  39.890278
2018-10-17  1.000000  34.993056  14.436389  50.603472  18.165972
2018-10-18  1.000000  15.261806  13.992778  56.594444   8.438889
2018-10-19  0.754861  16.559028  10.248611  41.299306   9.956762
2018-10-20  1.000000  30.867361  14.706875  49.411806  15.511111
2018-10-21  1.000000  28.286111  14.535139  47.638194  16.215278
2018-10-22  1.000000  51.456944  15.322431  48.600000  30.589583
2018-10-23  1.000000  53.629167  13.750486  67.770833  30.840278
2018-10-24  1.000000  44.309722  13.970069  61.435417  17.938889
2018-10-25  1.000000  37.015278  14.917778  56.047222  17.538194
2018-10-26  1.000000  34.943056  13.877778  69.247222  18.691667
2018-10-27  1.000000  27.206250  10.896597  42.713889   6.224306
2018-10-28  1.000000  15.402778   9.872917  69.608333   8.575000
2018-10-29  1.000000  17.579861   9.174792  56.376389   8.070833
2018-10-30  1.000000  19.545833   8.509653  43.466667   9.640278
2018-10-31  1.000000  19.070139   9.645069  47.136806   9.944444

In [0]:
# pm25가 NaN인 시간들 찾아내기

df11['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=496800, freq=None)

# 12. V10O1610630 (공릉2동 -(2))

## 2018년 6,7,8,9월 데이터X

## 2018년 5월 16일~31일까지 데이터X

## 2018년 10월 1~9일까지 데이터X

In [0]:
df12= pd.read_csv('환경기상데이터/노원구/V10O1610630.csv')
df12.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df12 = df12.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df12['tm'] = df12.tm.apply(lambda x: str(x))
df12['tm'] = df12.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df12.set_index('tm', inplace = True)
df12.info()

for i in range(4, 13, 1):
    num = df12['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df12['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 313920 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    313920 non-null object
flag      313920 non-null int64
pm10      313920 non-null int64
temp      313920 non-null float64
humi      313920 non-null int64
pm25      297662 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 16.8+ MB
4월: 43200 , 원래값과 차이 0
5월: 21600 , 원래값과 차이 23040
6월: 0 , 원래값과 차이 43200
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df12['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.097222   1.339583   1.090556   3.823611   4.114286
2018-10-11  1.000000  17.238194  11.279722  43.439583   7.940278
2018-10-12  1.000000  26.682639  12.141667  49.497222  13.542361
2018-10-13  1.000000  28.973611  13.495764  50.713889  16.884722
2018-10-14  1.000000  30.156250  14.587500  51.668056  18.813889
2018-10-15  1.000000  58.982639  16.230139  60.249306  35.556250
2018-10-16  1.000000  62.221528  15.672292  51.968750  35.713889
2018-10-17  1.000000  38.906944  13.946736  49.018056  20.406944
2018-10-18  1.000000  17.405556  13.346111  54.783333   9.916667
2018-10-19  1.000000  22.170139  14.954028  45.675000  10.264583
2018-10-20  1.000000  31.787500  14.564861  47.506944  15.906250
2018-10-21  1.000000  29.331250  14.539792  45.275000  16.855556
2018-10-22  1.000000  50.500000  14.673403  47.801389  29.961806
2018-10-23  1.000000  51.004861  13.469028  64.297222  29.308333
2018-10-24  1.000000  46.250694  13.810139  58.538194  18.831944
2018-10-25  1.000000  38.174306  14.642500  53.491667  18.106944
2018-10-26  1.000000  34.834722  13.575486  65.117361  18.754861
2018-10-27  1.000000  27.479167  10.761458  39.740972   6.230556
2018-10-28  1.000000  15.541667   9.465139  65.350000   8.675694
2018-10-29  1.000000  17.940972   8.647222  54.488889   8.476389
2018-10-30  1.000000  19.827778   8.187014  41.461111   9.881250
2018-10-31  1.000000  19.274306   9.377500  43.990278  10.082639

In [0]:
# pm25가 NaN인 시간들 찾아내기

df12['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=313920, freq=None)

# 13. V10O1610642 (공릉 2동-(3))

## 2018년 9월 20~30일까지 데이터X

## 2018년 10월 1~9일까지 데이터X

In [0]:
df13= pd.read_csv('환경기상데이터/노원구/V10O1610642.csv')
df13.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df13 = df13.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df13['tm'] = df13.tm.apply(lambda x: str(x))
df13['tm'] = df13.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df13.set_index('tm', inplace = True)
df13.info()

for i in range(4, 13, 1):
    num = df13['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df13['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 496800 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    496800 non-null object
flag      496800 non-null int64
pm10      496800 non-null int64
temp      496800 non-null float64
humi      496800 non-null int64
pm25      494248 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 27360 , 원래값과 차이 15840
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df13['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-10  0.555556  11.765972   7.332847  22.090278  10.648750
2018-10-11  1.000000  19.254167  10.323472  48.930556   8.911111
2018-10-12  1.000000  26.782639  10.961597  55.802778  13.597917
2018-10-13  1.000000  34.786111  12.076875  57.355556  20.545833
2018-10-14  1.000000  39.354861  13.342847  57.161111  25.045139
2018-10-15  1.000000  97.822917  15.151111  65.357639  59.409028
2018-10-16  1.000000  91.516667  14.304931  58.468750  53.466667
2018-10-17  1.000000  36.692361  12.776181  54.538889  19.105556
2018-10-18  1.000000  19.026389  12.179931  60.139583  11.011111
2018-10-19  1.000000  22.108333  13.666181  51.572917  10.402083
2018-10-20  1.000000  30.161111  13.070694  53.288889  15.152778
2018-10-21  1.000000  28.074306  12.954167  51.599306  16.137500
2018-10-22  1.000000  58.003472  13.555972  53.504167  34.419444
2018-10-23  1.000000  57.169444  12.164514  71.113194  33.611806
2018-10-24  1.000000  32.872917  12.451667  64.612500  13.147222
2018-10-25  1.000000  31.475000  13.396250  59.380556  14.969444
2018-10-26  1.000000  28.261111  12.361181  72.216667  15.317361
2018-10-27  1.000000  20.546528  10.021667  43.097917   4.586806
2018-10-28  1.000000  14.554167   7.996944  74.383333   8.139583
2018-10-29  1.000000  16.514583   7.812431  59.352083   7.975000
2018-10-30  1.000000  20.372917   7.054514  47.501389  10.156250
2018-10-31  1.000000  21.236111   8.231667  49.538194  11.177083

In [0]:
# pm25가 NaN인 시간들 찾아내기

df13['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=496800, freq=None)

# 21. V10O1611652 (공릉2동 -(4))

## 2018-6-22까지의 데이터 존재, 그 이후로는 없음

In [0]:
df21= pd.read_csv('환경기상데이터/노원구/V10O1611652.csv')
df21.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df21 = df21.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df21['tm'] = df21.tm.apply(lambda x: str(x))
df21['tm'] = df21.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df21.set_index('tm', inplace = True)
df21.info()

for i in range(4, 7, 1):
    num = df21['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 118080 entries, 2018-04-01 00:00:00 to 2018-06-21 23:59:00
Data columns (total 6 columns):
serial    118080 non-null object
flag      118080 non-null int64
pm10      118080 non-null int64
temp      118080 non-null float64
humi      118080 non-null int64
pm25      117176 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 6.3+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 30240 , 원래값과 차이 12960

In [0]:
# pm25가 NaN인 시간들 찾아내기

df13['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=496800, freq=None)

# 14. V10O1610643 (월계1동 -(1))

## 2018년 7,8,9월 데이터X

## 2018년 6월 30일 데이터X

## 2018년 10월 1~7일까지 데이터X

In [0]:
df14= pd.read_csv('환경기상데이터/노원구/V10O1610643.csv')
df14.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df14 = df14.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df14['tm'] = df14.tm.apply(lambda x: str(x))
df14['tm'] = df14.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df14.set_index('tm', inplace = True)
df14.info()

for i in range(4, 13, 1):
    num = df14['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df14['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 381600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    381600 non-null object
flag      381600 non-null int64
pm10      381600 non-null int64
temp      381600 non-null float64
humi      381600 non-null int64
pm25      359144 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 20.4+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 41760 , 원래값과 차이 1440
7월: 0 , 원래값과 차이 44640
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 34560 , 원래값과 차이 10080
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df14['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-08  0.419444  22.200000   7.331806  15.913889  17.807947
2018-10-09  1.000000  60.385417  16.289236  50.974306  26.431250
2018-10-10  1.000000  35.687500  14.425833  53.196528  20.944444
2018-10-11  1.000000  21.042361  11.957361  43.652083   9.404167
2018-10-12  1.000000  22.220833  12.490625  50.109722  11.204167
2018-10-13  1.000000  29.201389  13.723750  51.879167  17.181250
2018-10-14  1.000000  29.943750  14.561875  53.605556  18.997917
2018-10-15  1.000000  82.800694  16.175278  62.553472  50.118750
2018-10-16  1.000000  80.388194  15.805069  53.575694  47.242361
2018-10-17  1.000000  33.411806  14.480417  49.404861  17.460417
2018-10-18  1.000000  17.630556  13.811944  56.065278  10.384028
2018-10-19  1.000000  19.881250  15.100903  46.834028   9.088889
2018-10-20  1.000000  28.742361  14.699653  48.509722  14.422917
2018-10-21  1.000000  26.937500  14.465347  46.772917  15.477083
2018-10-22  1.000000  63.879167  15.163542  48.561111  37.810417
2018-10-23  1.000000  55.702778  13.456875  68.102778  32.838889
2018-10-24  1.000000  35.927778  13.961667  60.164583  14.572917
2018-10-25  1.000000  33.668750  14.723958  55.417361  16.158333
2018-10-26  1.000000  29.454167  13.489861  70.184028  16.118056
2018-10-27  1.000000  21.457639  11.164583  41.704861   4.819444
2018-10-28  1.000000  16.216667   9.711319  68.504861   9.109028
2018-10-29  1.000000  17.563889   9.467986  54.341667   8.652083
2018-10-30  1.000000  20.468056   8.628611  42.534028  10.179167
2018-10-31  1.000000  20.583333   9.813611  45.820833  10.662500

In [0]:
# pm25가 NaN인 시간들 찾아내기

df14['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=381600, freq=None)

# 20. V10O1611229 (월계1동 -(2))

## 결측값 없음

In [0]:
df20= pd.read_csv('환경기상데이터/노원구/V10O1611229.csv')
df20.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df20 = df20.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df20['tm'] = df20.tm.apply(lambda x: str(x))
df20['tm'] = df20.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df20.set_index('tm', inplace = True)
df20.info()

for i in range(4, 13, 1):
    num = df20['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df20['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525328 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df20['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 15. V10O1611097 (중계본동 -(1))

## 2018년 12월 데이터X

## 2018년 11월 23~31일까지 데이터X

## 2019년 1월 1~24일까지 데이터X

In [0]:
df15= pd.read_csv('환경기상데이터/노원구/V10O1611097.csv')
df15.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df15 = df15.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df15['tm'] = df15.tm.apply(lambda x: str(x))
df15['tm'] = df15.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df15.set_index('tm', inplace = True)
df15.info()

for i in range(4, 13, 1):
    num = df15['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df15['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 434880 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    434880 non-null object
flag      434880 non-null int64
pm10      434880 non-null int64
temp      434880 non-null float64
humi      434880 non-null int64
pm25      433837 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 23.2+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 31680 , 원래값과 차이 11520
12월: 0 , 원래값과 차이 44640
1월: 10080 , 원래값과 차이 34560
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df15['2019-1'].resample('D').mean()

                flag       pm10      temp       humi       pm25
tm
2019-01-25  0.423611  44.238194  0.257986   7.140972  52.465574
2019-01-26  0.991667  92.461111 -1.430069  23.972222  51.540616
2019-01-27  0.995139  57.813889  0.099236  44.784722  34.126308
2019-01-28  1.000000  91.487500  2.530972  37.145833  34.725694
2019-01-29  1.000000  80.820833  0.515208  29.337500  27.500000
2019-01-30  1.000000  68.704861  2.746389  45.974306  38.090972
2019-01-31  1.000000  77.076389  0.045972  28.297222  29.019444

In [0]:
# pm25가 NaN인 시간들 찾아내기

df15['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=434880, freq=None)

# 22. V10O1612126 (중계본동 -(2))

## 결측값 없음

In [0]:
df22= pd.read_csv('환경기상데이터/노원구/V10O1612126.csv')
df22.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df22 = df22.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df22['tm'] = df22.tm.apply(lambda x: str(x))
df22['tm'] = df22.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df22.set_index('tm', inplace = True)
df22.info()

for i in range(4, 13, 1):
    num = df22['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df22['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525336 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df22['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)