# 종로구

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. V01o1610468 (도렴동)

## 모든 값이 0 -> 빼는게 나을 것 같다

# 2. V10O1610252 (교남동)

## 2018-9-23~ 2018-10-9까지 자료 없음

In [0]:
df2= pd.read_csv('환경기상데이터/종로구/V10O1610252.csv')
df2.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df2 = df2.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df2['tm'] = df2.tm.apply(lambda x: str(x))
df2['tm'] = df2.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df2.set_index('tm', inplace = True)
df2.info()

for i in range(4, 13, 1):
    num = df2['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df2['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 501120 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    501120 non-null object
flag      501120 non-null int64
pm10      501120 non-null int64
temp      501120 non-null float64
humi      501120 non-null int64
pm25      497926 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.8+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 31680 , 원래값과 차이 11520
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df2['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=501120, freq=None)

# 3. V10O1610540 (세종로 100-(1))

## 2018-07에는 1,2,3일에 대한 자료만 존재
## 2018-08~09까지는 자료가 없음
## 2018-10월 1일~10일까지의 자료가 없음

In [0]:
df3= pd.read_csv('환경기상데이터/종로구/V10O1610540.csv')
df3.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df3 = df3.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df3['tm'] = df3.tm.apply(lambda x: str(x))
df3['tm'] = df3.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df3.set_index('tm', inplace = True)
df3.info()

for i in range(4, 13, 1):
    num = df3['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df3['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 383040 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    383040 non-null object
flag      383040 non-null int64
pm10      383040 non-null int64
temp      383040 non-null float64
humi      383040 non-null int64
pm25      382233 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 20.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 4320 , 원래값과 차이 40320
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 30240 , 원래값과 차이 14400
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df3['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=383040, freq=None)

# 4. V10O1610542 (세종로-100(2))

## 2018-6월 30일 자료 존재 X
## 2018-7월은 3일부터 끝까지 자료 존재X
## 2018-8월, 9월 데이터 없음
## 2018-10월 1~9일까지의 자료X

In [0]:
df4= pd.read_csv('환경기상데이터/종로구/V10O1610542.csv')
df4.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df4 = df4.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df4['tm'] = df4.tm.apply(lambda x: str(x))
df4['tm'] = df4.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df4.set_index('tm', inplace = True)
df4.info()

for i in range(4, 13, 1):
    num = df4['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df4['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 381600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    381600 non-null object
flag      381600 non-null int64
pm10      381600 non-null int64
temp      381600 non-null float64
humi      381600 non-null int64
pm25      374251 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 20.4+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 41760 , 원래값과 차이 1440
7월: 2880 , 원래값과 차이 41760
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df4['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=381600, freq=None)

# 5. V10O1610543 (세종로-100(3))

## 2018-7월 18일부터 31일까지 자료 X
## 2018 - 8,9월 자료X
## 2018-10월 1일~10일까지 자료 X

In [0]:
df5= pd.read_csv('환경기상데이터/종로구/V10O1610543.csv')
df5.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df5 = df5.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df5['tm'] = df5.tm.apply(lambda x: str(x))
df5['tm'] = df5.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df5.set_index('tm', inplace = True)
df5.info()

for i in range(4, 13, 1):
    num = df5['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df5['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 403200 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    403200 non-null object
flag      403200 non-null int64
pm10      403200 non-null int64
temp      403200 non-null float64
humi      403200 non-null int64
pm25      371014 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 21.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 24480 , 원래값과 차이 20160
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 30240 , 원래값과 차이 14400
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df5['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=403200, freq=None)

# 6. V10O1610544 (세종로-100(4))

## 2018-9월 29~31일까지 자료X
## 2018-10월 1~9일까지 자료X
## 2018 12월 2~14일까지 NaN 처리 되어 있음

In [0]:
df6= pd.read_csv('환경기상데이터/종로구/V10O1610252.csv')
df6.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df6 = df6.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df6['tm'] = df6.tm.apply(lambda x: str(x))
df6['tm'] = df6.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df6.set_index('tm', inplace = True)
df6.info()

for i in range(4, 13, 1):
    num = df6['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df6['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 501120 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    501120 non-null object
flag      501120 non-null int64
pm10      501120 non-null int64
temp      501120 non-null float64
humi      501120 non-null int64
pm25      497926 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.8+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 31680 , 원래값과 차이 11520
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df6['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=501120, freq=None)

# 7. V10O1610545 (세종로-100(5))

## 2018-9-29~30일까지의 자료X
## 2019-10월 1일~9일까지의 자료 X

In [0]:
df7= pd.read_csv('환경기상데이터/종로구/V10O1610545.csv')
df7.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df7 = df7.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df7['tm'] = df7.tm.apply(lambda x: str(x))
df7['tm'] = df7.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df7.set_index('tm', inplace = True)
df7.info()

for i in range(4, 13, 1):
    num = df7['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df7['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 509760 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    509760 non-null object
flag      509760 non-null int64
pm10      509760 non-null int64
temp      509760 non-null float64
humi      509760 non-null int64
pm25      507333 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 27.2+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 40320 , 원래값과 차이 2880
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df7['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=509760, freq=None)

# 8. V10O1610546 (세종로-100(6))

## 2018년 8월, 9월 자료X
## 2018년 10월 1~9일까지 자료X

In [0]:
df8= pd.read_csv('환경기상데이터/종로구/V10O1610546.csv')
df8.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df8 = df8.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df8['tm'] = df8.tm.apply(lambda x: str(x))
df8['tm'] = df8.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df8.set_index('tm', inplace = True)
df8.info()

for i in range(4, 13, 1):
    num = df8['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df8['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 424800 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    424800 non-null object
flag      424800 non-null int64
pm10      424800 non-null int64
temp      424800 non-null float64
humi      424800 non-null int64
pm25      417141 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 22.7+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 31680 , 원래값과 차이 12960
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df8['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=424800, freq=None)

# 9. V10O1610567 (세종로-100(7))

## 2018-9월 14~30일까지 자료X
## 2018-10월 1~9일까지 자료X
## 2018-11월 17~30일까지 자료X
## 2018-12월 1~4일, 그리고 29일 자료X

In [0]:
df9= pd.read_csv('환경기상데이터/종로구/V10O1610567.csv')
df9.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df9 = df9.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df9['tm'] = df9.tm.apply(lambda x: str(x))
df9['tm'] = df9.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df9.set_index('tm', inplace = True)
df9.info()

for i in range(4, 13, 1):
    num = df9['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df9['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 460800 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    460800 non-null object
flag      460800 non-null int64
pm10      460800 non-null int64
temp      460800 non-null float64
humi      460800 non-null int64
pm25      455194 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 24.6+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 18720 , 원래값과 차이 24480
10월: 31680 , 원래값과 차이 12960
11월: 23040 , 원래값과 차이 20160
12월: 37440 , 원래값과 차이 7200
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df9['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=460800, freq=None)

# 31. V10O1612113 (세종로 100-(8))

## 2018년 4월

In [0]:
df31= pd.read_csv('환경기상데이터/종로구/V10O1612113.csv')
df31.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df31 = df31.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df31['tm'] = df31.tm.apply(lambda x: str(x))
df31['tm'] = df31.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df31.set_index('tm', inplace = True)
df31.info()

for i in range(4, 13, 1):
    num = df31['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df31['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      520787 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df31['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 10. V10O1611145 (인사동)

## 2018-12-28일 데이터가 NaN

In [0]:
df10= pd.read_csv('환경기상데이터/종로구/V10O1611145.csv')
df10.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df10 = df10.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df10['tm'] = df10.tm.apply(lambda x: str(x))
df10['tm'] = df10.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df10.set_index('tm', inplace = True)
df10.info()

for i in range(4, 13, 1):
    num = df10['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df10['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 524160 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    524160 non-null object
flag      524160 non-null int64
pm10      524160 non-null int64
temp      524160 non-null float64
humi      524160 non-null int64
pm25      521729 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.0+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 43200 , 원래값과 차이 1440
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df10['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=524160, freq=None)

# 11. V10O1611151 (창신동-(1))

## 2018-5월 24-30일까지 데이터X
## 2018-6월 1~26일까지 데이터X, 28일 데이터 NaN
## 2018 -7월 1~9일까지, 12~31일까지 데이터 없음
## 2018 - 8,9,10월 데이터 없음
## 2018-11월 1~23일까지 데이터 없음
## 2019년 2월 13일 데이터 NaN

In [0]:
df11= pd.read_csv('환경기상데이터/종로구/V10O1611151.csv')
df11.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df11 = df11.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df11['tm'] = df11.tm.apply(lambda x: str(x))
df11['tm'] = df11.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df11.set_index('tm', inplace = True)
df11.info()

for i in range(4, 13, 1):
    num = df11['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df11['2019-{0}'.format(i)].shape
    if i == 12:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 264960 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    264960 non-null object
flag      264960 non-null int64
pm10      264960 non-null int64
temp      264960 non-null float64
humi      264960 non-null int64
pm25      256884 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 14.2+ MB
4월: 43200 , 원래값과 차이 0
5월: 33120 , 원래값과 차이 11520
6월: 2880 , 원래값과 차이 40320
7월: 2880 , 원래값과 차이 41760
8월: 0 , 원래값과 차이 44640
9월: 0 , 원래값과 차이 43200
10월: 0 , 원래값과 차이 44640
11월: 10080 , 원래값과 차이 33120
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 38880 , 원래값과 차이 5760
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df11['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=264960, freq=None)

# 15. V10O1611220 (창신동-(2))

## 결측값 없음

In [0]:
df15= pd.read_csv('환경기상데이터/종로구/V10O1611220.csv')
df15.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df15 = df15.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df15['tm'] = df15.tm.apply(lambda x: str(x))
df15['tm'] = df15.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df15.set_index('tm', inplace = True)
df15.info()

for i in range(4, 13, 1):
    num = df15['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df15['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525348 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df15['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 16. V10O1611251 (창신동-(3))

## 결측값 없음

In [0]:
df16= pd.read_csv('환경기상데이터/종로구/V10O1611251.csv')
df16.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df16 = df16.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df16['tm'] = df16.tm.apply(lambda x: str(x))
df16['tm'] = df16.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df16.set_index('tm', inplace = True)
df16.info()

for i in range(4, 13, 1):
    num = df16['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df16['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525257 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df16['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 12. V10O1611170 (신영동)

## 결측값 없음

In [0]:
df12= pd.read_csv('환경기상데이터/종로구/V10O1611170.csv')
df12.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df12 = df12.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df12['tm'] = df12.tm.apply(lambda x: str(x))
df12['tm'] = df12.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df12.set_index('tm', inplace = True)
df12.info()

for i in range(4, 13, 1):
    num = df12['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df12['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      523401 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df12['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 13. V10O1611172 (내자동)

## 2018년 12월 28일 데이터 NaN처리

In [0]:
df13= pd.read_csv('환경기상데이터/종로구/V10O1611172.csv')
df13.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df13 = df13.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df13['tm'] = df13.tm.apply(lambda x: str(x))
df13['tm'] = df13.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df13.set_index('tm', inplace = True)
df13.info()

for i in range(4, 13, 1):
    num = df13['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df13['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 524160 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    524160 non-null object
flag      524160 non-null int64
pm10      524160 non-null int64
temp      524160 non-null float64
humi      524160 non-null int64
pm25      520677 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.0+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 43200 , 원래값과 차이 1440
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df13['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=524160, freq=None)

# 14. V10O1611173 (원남동)

## 결측값 없음

In [0]:
df14= pd.read_csv('환경기상데이터/종로구/V10O1611173.csv')
df14.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df14 = df14.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df14['tm'] = df14.tm.apply(lambda x: str(x))
df14['tm'] = df14.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df14.set_index('tm', inplace = True)
df14.info()

for i in range(4, 13, 1):
    num = df14['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df14['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525378 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df14['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 17. V10O1611255 (세종로 1-57)

## 결측값 없음

In [0]:
df17= pd.read_csv('환경기상데이터/종로구/V10O1611255.csv')
df17.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df17 = df17.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df17['tm'] = df17.tm.apply(lambda x: str(x))
df17['tm'] = df17.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df17.set_index('tm', inplace = True)
df17.info()

for i in range(4, 13, 1):
    num = df17['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df17['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      524931 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df17['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 18. V10O1611258 (평창동)

## 2018년 12월 4일 값 NaN 처리 되어 있음

In [0]:
df18= pd.read_csv('환경기상데이터/종로구/V10O1611258.csv')
df18.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df18 = df18.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df18['tm'] = df18.tm.apply(lambda x: str(x))
df18['tm'] = df18.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df18.set_index('tm', inplace = True)
df18.info()

for i in range(4, 13, 1):
    num = df18['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df18['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 524160 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    524160 non-null object
flag      524160 non-null int64
pm10      524160 non-null int64
temp      524160 non-null float64
humi      524160 non-null int64
pm25      517491 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.0+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 43200 , 원래값과 차이 1440
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df18['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=524160, freq=None)

# 19. V10O1611289 (영천동)

## 2018년 12월 8~17일, 그리고 24일 NaN처리, 그리고 27~31일까지 데이터X

## 2019월 1월은 31일 데이터만 있음. 나머지는 자료X

In [0]:
df19= pd.read_csv('환경기상데이터/종로구/V10O1611289.csv')
df19.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df19 = df19.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df19['tm'] = df19.tm.apply(lambda x: str(x))
df19['tm'] = df19.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df19.set_index('tm', inplace = True)
df19.info()

for i in range(4, 13, 1):
    num = df19['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df19['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 459360 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    459360 non-null object
flag      459360 non-null int64
pm10      459360 non-null int64
temp      459360 non-null float64
humi      459360 non-null int64
pm25      452183 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 24.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 21600 , 원래값과 차이 23040
1월: 1440 , 원래값과 차이 43200
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df19['2019-1'].resample('D').mean()

                flag       pm10      temp      humi       pm25
tm
2019-01-31  0.418056  63.311111 -0.925139  6.920139  35.074751

In [0]:
# pm25가 NaN인 시간들 찾아내기

df19['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=459360, freq=None)

# 20. V10O1611623 (명륜동4가)

## 2018년 9월 10일까지의 데이터만 존재, 그 이후로는 없다

## 결측값 없음

In [0]:
df20= pd.read_csv('환경기상데이터/종로구/V10O1611623.csv')
df20.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df20 = df20.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df20['tm'] = df20.tm.apply(lambda x: str(x))
df20['tm'] = df20.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df20.set_index('tm', inplace = True)
df20.info()

for i in range(4, 13, 1):
    num = df20['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df20['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 234720 entries, 2018-04-01 00:00:00 to 2018-09-10 23:59:00
Data columns (total 6 columns):
serial    234720 non-null object
flag      234720 non-null int64
pm10      234720 non-null int64
temp      234720 non-null float64
humi      234720 non-null int64
pm25      233671 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 12.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 14400 , 원래값과 차이 28800

KeyError: '2018-10'

In [0]:
# pm25가 NaN인 시간들 찾아내기

df20['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2018-09-10 23:50:00', '2018-09-10 23:51:00',
               '2018-09-10 23:52:00', '2018-09-10 23:53:00',
               '2018-09-10 23:54:00', '2018-09-10 23:55:00',
               '2018-09-10 23:56:00', '2018-09-10 23:57:00',
               '2018-09-10 23:58:00', '2018-09-10 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=234720, freq=None)

# 21. V10O1611634 (재동)

## 2018년 4월 19~30일까지 데이터X

## 2018년 5월 1,2일 데이터X

In [0]:
df21= pd.read_csv('환경기상데이터/종로구/V10O1611634.csv')
df21.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df21 = df21.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df21['tm'] = df21.tm.apply(lambda x: str(x))
df21['tm'] = df21.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df21.set_index('tm', inplace = True)
df21.info()

for i in range(4, 13, 1):
    num = df21['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df21['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 505440 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    505440 non-null object
flag      505440 non-null int64
pm10      505440 non-null int64
temp      505440 non-null float64
humi      505440 non-null int64
pm25      501653 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 27.0+ MB
4월: 25920 , 원래값과 차이 17280
5월: 41760 , 원래값과 차이 2880
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df21['2018-5'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-05-03  0.164583   5.561111   2.153750   8.170139  23.502110
2018-05-04  1.000000  45.954167  16.080417  41.727778  19.421528
2018-05-05  1.000000  44.359722  19.983611  41.644444  20.329167
2018-05-06  1.000000  21.857639  18.203403  75.252778  13.737500
2018-05-07  1.000000  36.901389  21.117292  54.470833  19.847917
2018-05-08  1.000000  23.017361  19.627708  44.627778  10.520139
2018-05-09  1.000000  25.237500  17.954375  42.429167   9.456250
2018-05-10  1.000000  41.584028  17.685903  56.687500  22.465278
2018-05-11  1.000000  72.874306  18.165694  53.485417  47.350694
2018-05-12  1.000000  40.370139  15.839514  77.565278  26.134722
2018-05-13  1.000000  29.621528  17.712014  72.223611  20.961806
2018-05-14  1.000000  91.747222  19.861111  62.488889  71.444444
2018-05-15  1.000000  71.253472  24.764792  50.911806  51.608333
2018-05-16  1.000000  41.396528  23.423264  83.674306  27.910417
2018-05-17  1.000000  27.660417  22.123681  88.325694  18.138889
2018-05-18  1.000000  20.977778  18.146806  78.727083   7.103472
2018-05-19  1.000000  16.812500  19.999236  41.910417   7.853472
2018-05-20  1.000000  15.006250  19.618889  27.909028   7.731944
2018-05-21  1.000000  24.440972  20.224653  35.068056  12.706250
2018-05-22  1.000000  45.261111  20.154444  64.416667  25.865278
2018-05-23  1.000000  47.843750  19.805833  51.656944  13.397917
2018-05-24  1.000000  83.924306  20.765833  40.461806  20.569444
2018-05-25  1.000000  80.278472  22.334375  40.809722  29.520139
2018-05-26  1.000000  75.120833  24.315625  42.909722  31.131944
2018-05-27  1.000000  64.965278  22.921875  40.528472  26.386806
2018-05-28  1.000000  48.518750  24.877361  42.361806  23.099306
2018-05-29  1.000000  39.301389  23.922153  56.522222  22.327778
2018-05-30  1.000000  51.796528  23.012917  58.528472  30.924306
2018-05-31  1.000000  42.246528  23.348958  51.639583  23.813889

In [0]:
# pm25가 NaN인 시간들 찾아내기

df21['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=505440, freq=None)

# 22. V10O1611639 (종로5가 20-2)

## 2018년 12월 8~15일까지NaN, 그리고 27~31일까지 데이터X

## 2019년 1월 1~9일까지 데이터X, 그리고 16일은 NaN

In [0]:
df22= pd.read_csv('환경기상데이터/종로구/V10O1611639.csv')
df22.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df22 = df22.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df22['tm'] = df22.tm.apply(lambda x: str(x))
df22['tm'] = df22.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df22.set_index('tm', inplace = True)
df22.info()

for i in range(4, 13, 1):
    num = df22['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df22['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 492480 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    492480 non-null object
flag      492480 non-null int64
pm10      492480 non-null int64
temp      492480 non-null float64
humi      492480 non-null int64
pm25      485188 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 26.3+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 25920 , 원래값과 차이 18720
1월: 30240 , 원래값과 차이 14400
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df22['2019-1'].resample('D').mean()

                flag        pm10      temp       humi       pm25
tm
2019-01-10  0.097222    9.072222  0.355903   5.952778  54.707143
2019-01-11  0.499306   46.221528  1.852569  28.950000  59.730181
2019-01-12  1.000000  109.126389  6.149653  39.216667  73.422222
2019-01-13  1.000000  109.610417  4.707986  42.945833  71.384722
2019-01-14  1.000000  131.353472  4.384861  56.337500  92.227083
2019-01-15  0.880556  128.586111  1.836042  44.661806  88.126183
2019-01-16       NaN         NaN       NaN        NaN        NaN
2019-01-17  0.499306   37.343056  2.401458  11.688889  31.497914
2019-01-18  0.596528   60.984028  3.556944  21.796528  60.760186
2019-01-19  0.990972  128.520139  6.468194  47.000694  82.749825
2019-01-20  1.000000   90.984028  1.918542  34.375694  40.990278
2019-01-21  1.000000   68.413194  1.705069  46.535417  30.514583
2019-01-22  1.000000   85.178472  4.664236  51.522222  34.281944
2019-01-23  1.000000  110.270833  5.381319  41.619444  59.384722
2019-01-24  1.000000  101.364583  3.520694  25.180556  48.215278
2019-01-25  1.000000   89.226389  2.173819  23.169444  40.376389
2019-01-26  1.000000  149.872917  0.315278  23.915972  64.564583
2019-01-27  1.000000  107.464583  2.280694  42.279861  53.763194
2019-01-28  1.000000   73.403472  4.294722  35.406250  21.458333
2019-01-29  1.000000   91.510417  2.934167  26.860417  27.933333
2019-01-30  0.993056  102.273611  5.094653  42.898611  48.272028
2019-01-31  1.000000   90.036111  1.136875  26.428472  26.781250

In [0]:
# pm25가 NaN인 시간들 찾아내기

df22['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=492480, freq=None)

# 23. V10O1611645 (명륜1가 72-3)

## 결측값 없음

In [0]:
df23= pd.read_csv('환경기상데이터/종로구/V10O1611645.csv')
df23.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df23 = df23.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df23['tm'] = df23.tm.apply(lambda x: str(x))
df23['tm'] = df23.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df23.set_index('tm', inplace = True)
df23.info()

for i in range(4, 13, 1):
    num = df23['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df23['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      524635 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df23['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 24. V10O1611658 (연건동)

## 2018년 12월 29일 데이터NaN

In [0]:
df24= pd.read_csv('환경기상데이터/종로구/V10O1611658.csv')
df24.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df24 = df24.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df24['tm'] = df24.tm.apply(lambda x: str(x))
df24['tm'] = df24.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df24.set_index('tm', inplace = True)
df24.info()

for i in range(4, 13, 1):
    num = df24['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df24['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 524160 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    524160 non-null object
flag      524160 non-null int64
pm10      524160 non-null int64
temp      524160 non-null float64
humi      524160 non-null int64
pm25      518215 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.0+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 43200 , 원래값과 차이 1440
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df24['2018-12'].resample('D').mean()

                flag        pm10       temp       humi       pm25
tm
2018-12-01  1.000000   94.622222   8.037153  36.901389  49.943056
2018-12-02  1.000000   77.733333  10.206736  45.796528  41.900000
2018-12-03  1.000000   74.093750  13.494653  73.916667  38.141667
2018-12-04  1.000000   62.097222   9.279792  69.378472  31.573611
2018-12-05  1.000000   78.018750   2.264236  34.522222  33.994444
2018-12-06  0.992361   78.419444   4.711042  44.145139  38.762771
2018-12-07  1.000000   62.025000  -5.063472  32.541667  25.727083
2018-12-08  0.989583   60.347917  -6.245417  30.993750  25.748070
2018-12-09  0.991667   63.637500  -4.997431  23.073611  35.184174
2018-12-10  1.000000   88.913194  -0.349236  27.756944  54.956250
2018-12-11  1.000000   83.313889   2.735764  37.078472  55.169444
2018-12-12  1.000000   99.461806   0.122569  35.642361  56.602083
2018-12-13  1.000000   80.127083   0.242569  47.267361  50.897917
2018-12-14  1.000000   76.499306  -2.102708  38.854167  41.425694
2018-12-15  1.000000   95.059028   0.115486  39.933333  61.338889
2018-12-16  1.000000   94.890278   2.552292  53.113194  66.463194
2018-12-17  1.000000  100.659722   4.042361  51.938194  63.672222
2018-12-18  1.000000   73.287500   5.097292  48.685417  38.469444
2018-12-19  1.000000   98.107639   6.405625  47.052083  54.311111
2018-12-20  1.000000   97.088194   6.172222  38.138194  62.613889
2018-12-21  1.000000  101.536111   8.018611  35.770833  64.476389
2018-12-22  1.000000  118.834722   9.176806  41.695833  80.593056
2018-12-23  1.000000  107.300694   4.947500  38.477083  55.635417
2018-12-24  1.000000   68.274306   0.130556  30.651389  32.988889
2018-12-25  1.000000   84.822222   3.125903  42.773611  48.651389
2018-12-26  1.000000   97.010417   1.075486  37.768056  48.011806
2018-12-27  0.500000   51.234722  -3.805694  14.297222  33.266667
2018-12-28  0.125000   11.806250  -1.374375   4.893056  39.222222
2018-12-29       NaN         NaN        NaN        NaN        NaN
2018-12-30  0.375000   43.776389  -0.908542  10.331250  68.020370
2018-12-31  0.500000   57.959722  -0.750139  14.761806  67.100000

In [0]:
# pm25가 NaN인 시간들 찾아내기

df24['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=524160, freq=None)

# 25. V10O1611684 (공평동)

## 2018년 4월 24일 데이터NaN

In [0]:
df25= pd.read_csv('환경기상데이터/종로구/V10O1611684.csv')
df25.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df25 = df25.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df25['tm'] = df25.tm.apply(lambda x: str(x))
df25['tm'] = df25.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df25.set_index('tm', inplace = True)
df25.info()

for i in range(4, 13, 1):
    num = df25['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df25['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 524160 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    524160 non-null object
flag      524160 non-null int64
pm10      524160 non-null int64
temp      524160 non-null float64
humi      524160 non-null int64
pm25      521530 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.0+ MB
4월: 41760 , 원래값과 차이 1440
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df25['2018-4'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-04-01  1.000000  61.631250  16.693819  59.356944  29.425694
2018-04-02  1.000000  60.256250  19.809722  56.213889  23.436111
2018-04-03  1.000000  62.306944  19.559306  60.556250  18.100694
2018-04-04  1.000000  21.869444  14.382986  59.539583  10.757639
2018-04-05  1.000000  12.653472   8.929583  75.925000   7.466667
2018-04-06  1.000000  74.924306   7.712222  61.656250  18.954861
2018-04-07  1.000000  37.500694   5.650347  37.371528  17.655556
2018-04-08  1.000000  30.895833   5.414028  48.618750  14.333333
2018-04-09  1.000000  41.940972   9.296736  48.650000  26.684028
2018-04-10  1.000000  46.282639  16.489583  40.872917  22.534028
2018-04-11  1.000000  60.283333  14.152639  44.499306  21.521528
2018-04-12  1.000000  44.154167  14.852986  25.877083  15.683333
2018-04-13  1.000000  34.882639  16.409653  16.131944  16.044444
2018-04-14  1.000000  30.571528  10.908125  63.344444  16.645139
2018-04-15  1.000000  56.256944  10.858264  57.304861  18.465278
2018-04-16  1.000000  32.068750  13.243958  35.509028  19.033333
2018-04-17  1.000000  50.384722  14.650625  31.302778  26.723611
2018-04-18  1.000000  59.365278  14.382153  28.541667  30.107639
2018-04-19  1.000000  63.718056  15.673403  30.550694  32.112500
2018-04-20  1.000000  97.520833  19.786806  38.377083  52.627083
2018-04-21  1.000000  64.445833  20.491181  27.884028  36.365278
2018-04-22  1.000000  39.550694  17.846458  42.938194  20.639583
2018-04-23  0.222917   8.205556   2.398542  17.953472  25.735202
2018-04-24       NaN        NaN        NaN        NaN        NaN
2018-04-25  0.413889  13.938889   8.595833   9.568750  23.308725
2018-04-26  1.000000  37.214583  16.837292  41.334722  25.747222
2018-04-27  1.000000  45.895139  17.347153  43.005556  31.567361
2018-04-28  1.000000  50.758333  17.262431  40.775000  31.972222
2018-04-29  1.000000  48.313889  17.503472  35.611806  27.244444
2018-04-30  1.000000  66.008333  20.332153  51.397917  43.934028

In [0]:
# pm25가 NaN인 시간들 찾아내기

df25['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=524160, freq=None)

# 26. V10O1611698 (원서동)

## 2018-9-22일 까지의 데이터만 존재, 그 이후로는 없음

## 결측값 없음

In [0]:
df26= pd.read_csv('환경기상데이터/종로구/V10O1611698.csv')
df26.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df26 = df26.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df26['tm'] = df26.tm.apply(lambda x: str(x))
df26['tm'] = df26.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df26.set_index('tm', inplace = True)
df26.info()

for i in range(4, 13, 1):
    num = df26['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df26['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252000 entries, 2018-04-01 00:00:00 to 2018-09-22 23:59:00
Data columns (total 6 columns):
serial    252000 non-null object
flag      252000 non-null int64
pm10      252000 non-null int64
temp      252000 non-null float64
humi      252000 non-null int64
pm25      250901 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 13.5+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 31680 , 원래값과 차이 11520

KeyError: '2018-10'

In [0]:
# pm25가 NaN인 시간들 찾아내기

df26['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2018-09-22 23:50:00', '2018-09-22 23:51:00',
               '2018-09-22 23:52:00', '2018-09-22 23:53:00',
               '2018-09-22 23:54:00', '2018-09-22 23:55:00',
               '2018-09-22 23:56:00', '2018-09-22 23:57:00',
               '2018-09-22 23:58:00', '2018-09-22 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=252000, freq=None)

# 27.  V10O1611722 (가회동)

## 결측값 없음

In [0]:
df27= pd.read_csv('환경기상데이터/종로구/V10O1611722.csv')
df27.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df27 = df27.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df27['tm'] = df27.tm.apply(lambda x: str(x))
df27['tm'] = df27.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df27.set_index('tm', inplace = True)
df27.info()

for i in range(4, 13, 1):
    num = df27['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df27['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      524653 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df27['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 28. V10O1611750 (묘동)

## 결측값 없음

In [0]:
df28= pd.read_csv('환경기상데이터/종로구/V10O1611750.csv')
df28.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df28 = df28.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df28['tm'] = df28.tm.apply(lambda x: str(x))
df28['tm'] = df28.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df28.set_index('tm', inplace = True)
df28.info()

for i in range(4, 13, 1):
    num = df28['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df28['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525410 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df28['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 29. V10O1611887 (태평로1가 68-2)

## 결측값 없음

In [0]:
df29= pd.read_csv('환경기상데이터/종로구/V10O1611887.csv')
df29.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df29 = df29.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df29['tm'] = df29.tm.apply(lambda x: str(x))
df29['tm'] = df29.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df29.set_index('tm', inplace = True)
df29.info()

for i in range(4, 13, 1):
    num = df29['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df29['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525600 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    525600 non-null object
flag      525600 non-null int64
pm10      525600 non-null int64
temp      525600 non-null float64
humi      525600 non-null int64
pm25      525193 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 28.1+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 44640 , 원래값과 차이 0
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
# pm25가 NaN인 시간들 찾아내기

df29['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=525600, freq=None)

# 30. V10O1612106 (숭인동)

## 2018년 10월 27,28일 NaN

In [0]:
df30 = pd.read_csv('환경기상데이터/종로구/V10O1612106.csv')
df30.drop(['co2', 'vocs', 'noise', 'Unnamed: 10'], axis=1, inplace=True)
df30 = df30.applymap(lambda x: 0 if x==-999 or x==-9999 else x)
df30['tm'] = df30.tm.apply(lambda x: str(x))
df30['tm'] = df30.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
df30.set_index('tm', inplace = True)
df30.info()

for i in range(4, 13, 1):
    num = df30['2018-{0}'.format(i)].shape
    if i ==4 or i ==6 or i==9 or i==11:
        print('{0}월:'.format(i), num[0],
                  ', 원래값과 차이', 43200 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 44640-num[0])
        
for i in range(1, 4, 1):
    num = df30['2019-{0}'.format(i)].shape
    if i == 2:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이', 40320 - num[0])
    else:
        print('{0}월:'.format(i), num[0],
              ', 원래값과 차이',  44640 - num[0])

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 522720 entries, 2018-04-01 00:00:00 to 2019-03-31 23:59:00
Data columns (total 6 columns):
serial    522720 non-null object
flag      522720 non-null int64
pm10      522720 non-null int64
temp      522720 non-null float64
humi      522720 non-null int64
pm25      521185 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 27.9+ MB
4월: 43200 , 원래값과 차이 0
5월: 44640 , 원래값과 차이 0
6월: 43200 , 원래값과 차이 0
7월: 44640 , 원래값과 차이 0
8월: 44640 , 원래값과 차이 0
9월: 43200 , 원래값과 차이 0
10월: 41760 , 원래값과 차이 2880
11월: 43200 , 원래값과 차이 0
12월: 44640 , 원래값과 차이 0
1월: 44640 , 원래값과 차이 0
2월: 40320 , 원래값과 차이 0
3월: 44640 , 원래값과 차이 0

In [0]:
df30['2018-10'].resample('D').mean()

                flag       pm10       temp       humi       pm25
tm
2018-10-01  1.000000  25.795833  18.618125  43.807639  13.259722
2018-10-02  1.000000  30.131250  19.136667  48.427778  17.182639
2018-10-03  1.000000  31.017361  20.945903  46.582639  17.643750
2018-10-04  1.000000  27.019444  22.340139  46.751389  15.300694
2018-10-05  1.000000  16.407639  20.145139  68.565278   8.740972
2018-10-06  1.000000   9.080556  20.902708  70.276389   5.157639
2018-10-07  1.000000  35.482639  20.113681  46.381250  15.549306
2018-10-08  1.000000  28.470139  18.485000  34.679167  12.335417
2018-10-09  1.000000  33.945833  18.678264  42.129861  17.438889
2018-10-10  1.000000  29.080556  15.604097  49.220139  17.106944
2018-10-11  1.000000  28.082639  13.404861  37.299306  14.404861
2018-10-12  1.000000  34.920139  14.604097  41.156944  19.426389
2018-10-13  1.000000  41.105556  16.009028  43.596528  25.113194
2018-10-14  1.000000  42.301389  16.691528  46.663194  27.454861
2018-10-15  1.000000  65.526389  18.590625  53.819444  39.702083
2018-10-16  1.000000  66.009028  18.389306  42.565278  36.168750
2018-10-17  1.000000  46.444444  16.678611  40.938889  23.705556
2018-10-18  1.000000  25.475694  16.169653  47.785417  13.651389
2018-10-19  1.000000  31.871528  17.029375  41.187500  16.277083
2018-10-20  1.000000  49.343750  17.256319  40.604861  25.380556
2018-10-21  1.000000  50.221528  17.123889  38.242361  29.883333
2018-10-22  1.000000  57.532639  17.922500  38.664583  35.722917
2018-10-23  1.000000  67.231250  16.480625  56.530556  38.794444
2018-10-24  1.000000  67.736111  16.455903  51.757639  28.825694
2018-10-25  1.000000  60.281250  17.599306  44.786111  30.109028
2018-10-26  0.473611  27.567361   7.897708  25.695139  32.074780
2018-10-27       NaN        NaN        NaN        NaN        NaN
2018-10-28       NaN        NaN        NaN        NaN        NaN
2018-10-29  0.595833  21.731250   7.146667  23.777083  15.228438
2018-10-30  1.000000  36.202083   9.749931  38.313194  17.623611
2018-10-31  1.000000  34.011806  11.308958  41.457639  18.494444

In [0]:
# pm25가 NaN인 시간들 찾아내기

df30['pm25'].isnull().index

DatetimeIndex(['2018-04-01 00:00:00', '2018-04-01 00:01:00',
               '2018-04-01 00:02:00', '2018-04-01 00:03:00',
               '2018-04-01 00:04:00', '2018-04-01 00:05:00',
               '2018-04-01 00:06:00', '2018-04-01 00:07:00',
               '2018-04-01 00:08:00', '2018-04-01 00:09:00',
               ...
               '2019-03-31 23:50:00', '2019-03-31 23:51:00',
               '2019-03-31 23:52:00', '2019-03-31 23:53:00',
               '2019-03-31 23:54:00', '2019-03-31 23:55:00',
               '2019-03-31 23:56:00', '2019-03-31 23:57:00',
               '2019-03-31 23:58:00', '2019-03-31 23:59:00'],
              dtype='datetime64[ns]', name='tm', length=522720, freq=None)