In [0]:
from google.colab import auth
auth.authenticate_user()


from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%pwd

'/content'

In [0]:
%cd /content/drive/My Drive/수퍼판다

/content/drive/My Drive/수퍼판다

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math
import statistics as s

In [0]:
airdef = pd.read_excel('/content/drive/My Drive/수퍼판다/data/01_Innovation 분야 데이터 정의서(통합)/04_Innovation 분야_환경기상데이터(케이웨더)_데이터정의서(행정동추가)_190726.xlsx', sheet_name = '경진대회용 후보 지점')
airdef.drop('Unnamed: 5', axis=1, inplace=True)
airdef.head()

    종로구         스테이션  ...         위치.1   행정동.1
0  31지점  V10O1610252  ...      하계동 280    하계1동
1   NaN  V10O1610546  ...      상계동 734  상계6,7동
2   NaN  V10O1610540  ...    상계동 692-2   상계10동
3   NaN  V10O1610542  ...  상계동 1102-17    상계1동
4   NaN  V10O1610543  ...  상계2동 407-39    상계2동

[5 rows x 10 columns]

In [0]:
j_hdong = airdef.loc[:,('스테이션','행정동')]
j_hdong

           스테이션           행정동
0   V10O1610252           교남동
1   V10O1610546  종로 1,2,3,4가동
2   V10O1610540  종로 1,2,3,4가동
3   V10O1610542  종로 1,2,3,4가동
4   V10O1610543  종로 1,2,3,4가동
5   V10O1610544  종로 1,2,3,4가동
6   V10O1610545  종로 1,2,3,4가동
7   V10O1610567  종로 1,2,3,4가동
8   V01o1610468           사직동
9   V10O1611289           천연동
10  V10O1611172           사직동
11  V10O1611634           가회동
12  V10O1611887            명동
13  V10O1611639       종로5,6가동
14  V10O1611658           이화동
15  V10O1612113  종로 1,2,3,4가동
16  V10O1611151          창신1동
17  V10O1611145  종로 1,2,3,4가동
18  V10O1611623           혜화동
19  V10O1611750  종로 1,2,3,4가동
20  V10O1611170           부암동
21  V10O1611684  종로 1,2,3,4가동
22  V10O1611220          창신1동
23  V10O1612106          숭인2동
24  V10O1611251          창신3동
25  V10O1611173  종로 1,2,3,4가동
26  V10O1611258           평창동
27  V10O1611255         청운효자동
28  V10O1611698           가회동
29  V10O1611722           가회동
30  V10O1611645           혜화동

In [0]:
행정동별개수 = pd.DataFrame(j_hdong.행정동.value_counts())
행정동별개수 = 행정동별개수.reset_index()
행정동별개수.columns = [['행정동','스테이션수']]
행정동별개수

In [0]:
종로단일스테이션 = []
종로다중스테이션 = []
for i in range(len(행정동별개수)):
  for j in range(len(j_hdong)):
    if int(행정동별개수.iloc[i]['스테이션수']) == 1:
      if j_hdong.iloc[j]['행정동'] == 행정동별개수.iloc[i]['행정동'].tolist()[0]:
        종로단일스테이션.append(j_hdong.iloc[j][['스테이션','행정동']])
    if int(행정동별개수.iloc[i]['스테이션수']) > 1:
      if j_hdong.iloc[j]['행정동'] == 행정동별개수.iloc[i]['행정동'].tolist()[0]:
        종로다중스테이션.append(j_hdong.iloc[j][['스테이션','행정동']])
        
종로단일스테이션 = pd.DataFrame(종로단일스테이션)
종로다중스테이션 = pd.DataFrame(종로다중스테이션)

In [0]:
종로단일스테이션 = 종로단일스테이션.sort_values('행정동')
종로단일스테이션

           스테이션      행정동
0   V10O1610252      교남동
12  V10O1611887       명동
20  V10O1611170      부암동
23  V10O1612106     숭인2동
14  V10O1611658      이화동
13  V10O1611639  종로5,6가동
24  V10O1611251     창신3동
9   V10O1611289      천연동
27  V10O1611255    청운효자동
26  V10O1611258      평창동

In [0]:
종로단일스테이션.iloc[1]

스테이션    V10O1611887
행정동              명동
Name: 12, dtype: object

In [0]:
종로다중스테이션 = 종로다중스테이션.sort_values('행정동')

In [0]:
종로다중스테이션

           스테이션           행정동
29  V10O1611722           가회동
28  V10O1611698           가회동
11  V10O1611634           가회동
10  V10O1611172           사직동
8   V01o1610468           사직동
25  V10O1611173  종로 1,2,3,4가동
19  V10O1611750  종로 1,2,3,4가동
17  V10O1611145  종로 1,2,3,4가동
1   V10O1610546  종로 1,2,3,4가동
7   V10O1610567  종로 1,2,3,4가동
6   V10O1610545  종로 1,2,3,4가동
5   V10O1610544  종로 1,2,3,4가동
4   V10O1610543  종로 1,2,3,4가동
3   V10O1610542  종로 1,2,3,4가동
2   V10O1610540  종로 1,2,3,4가동
15  V10O1612113  종로 1,2,3,4가동
21  V10O1611684  종로 1,2,3,4가동
16  V10O1611151          창신1동
22  V10O1611220          창신1동
18  V10O1611623           혜화동
30  V10O1611645           혜화동

In [0]:
len(종로다중스테이션) + len(종로단일스테이션)

31

In [0]:
# 최빈값 구하는 함수

def mode(gugan_num):
    
    d = {}
    num = list(map(str, gugan_num))
    
    for c in num:
        if c in d:
            d[c] += 1
        else:
            d[c] = 1
    
    return max(d, key=d.get)

# 1. 교남동 (단일 스테이션)

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[0]['스테이션'])
교남동= pd.read_csv(filepath)
교남동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
교남동['DONG_NM'] = 종로단일스테이션.iloc[0]['행정동']
교남동['tm'] = 교남동.tm.apply(lambda x: str(x))
교남동['tm'] = 교남동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
교남동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    60  30.0     교남동
1 2018-04-01 00:01:00    54  27.0     교남동
2 2018-04-01 00:02:00    56  28.0     교남동
3 2018-04-01 00:03:00    66  33.0     교남동
4 2018-04-01 00:04:00    64  32.0     교남동

In [0]:
# 윗 부분 생략

# 행정동 - nowon3(교남동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


교남동['tm'] = pd.to_datetime(교남동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

교남동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

교남동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

교남동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 교남동.tm]
교남동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 교남동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

교남동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
교남동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

교남동_median = 교남동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong1 = pd.DataFrame(교남동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 교남동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 교남동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
교남동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
교남동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

교남동_Cmedian = 교남동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong1_1 = pd.DataFrame(교남동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 교남동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong1.reset_index(inplace=True)
jong1_1.reset_index(inplace=True)

all_jong1 = pd.merge(jong1[['temp', 'mise_med']], jong1_1[['temp','c_mise_med']], on = 'temp')

all_jong1.columns = [['교남동','교남동','교남동'],['temp','mise_med','c_mise_med']]

all_jong1['mise_mode'] = pd.DataFrame(mise_mode)

all_jong1['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong1.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong1['행정동명'] = '교남동'


all_jong1.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      60.0        28.0      60.0        20.0  교남동
1  2018-04-01 01      61.0        22.0      60.0        20.0  교남동
2  2018-04-01 02      64.0        27.0      60.0        20.0  교남동
3  2018-04-01 03      64.5        31.0      60.0        30.0  교남동
4  2018-04-01 04      61.0        28.0      50.0        20.0  교남동

# 2. 명동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[1]['스테이션'])
명동= pd.read_csv(filepath)
명동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
명동['DONG_NM'] = 종로단일스테이션.iloc[1]['행정동']
명동['tm'] = 명동.tm.apply(lambda x: str(x))
명동['tm'] = 명동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
명동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    77  40.0      명동
1 2018-04-01 00:01:00    54  28.0      명동
2 2018-04-01 00:02:00    81  42.0      명동
3 2018-04-01 00:03:00    72  38.0      명동
4 2018-04-01 00:04:00    70  37.0      명동

In [0]:
# 윗 부분 생략

# 행정동 - nowon3(명동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


명동['tm'] = pd.to_datetime(명동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

명동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

명동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

명동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 명동.tm]
명동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 명동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

명동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
명동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

명동_median = 명동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong2 = pd.DataFrame(명동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 명동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 명동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
명동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
명동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

명동_Cmedian = 명동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong2_1 = pd.DataFrame(명동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 명동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong2.reset_index(inplace=True)
jong2_1.reset_index(inplace=True)

all_jong2 = pd.merge(jong2[['temp', 'mise_med']], jong2_1[['temp','c_mise_med']], on = 'temp')

all_jong2.columns = [['명동','명동','명동'],['temp','mise_med','c_mise_med']]

all_jong2['mise_mode'] = pd.DataFrame(mise_mode)

all_jong2['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong2.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong2['행정동명'] = '명동'


all_jong2.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      71.0        37.0      70.0        30.0   명동
1  2018-04-01 01      71.0        36.0      70.0        30.0   명동
2  2018-04-01 02      73.0        36.0      70.0        30.0   명동
3  2018-04-01 03      75.0        37.0      80.0        40.0   명동
4  2018-04-01 04      83.5        41.5      80.0        40.0   명동

# 3. 부암동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[2]['스테이션'])
부암동= pd.read_csv(filepath)
부암동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
부암동['DONG_NM'] = 종로단일스테이션.iloc[2]['행정동']
부암동['tm'] = 부암동.tm.apply(lambda x: str(x))
부암동['tm'] = 부암동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
부암동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    39  19.0     부암동
1 2018-04-01 00:01:00    31  15.0     부암동
2 2018-04-01 00:02:00    39  19.0     부암동
3 2018-04-01 00:03:00    37  18.0     부암동
4 2018-04-01 00:04:00    20  10.0     부암동

In [0]:
# 윗 부분 생략

# 행정동 - nowon3(부암동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


부암동['tm'] = pd.to_datetime(부암동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

부암동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

부암동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

부암동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 부암동.tm]
부암동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 부암동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

부암동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
부암동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

부암동_median = 부암동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong3 = pd.DataFrame(부암동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 부암동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 부암동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
부암동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
부암동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

부암동_Cmedian = 부암동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong3_1 = pd.DataFrame(부암동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 부암동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong3.reset_index(inplace=True)
jong3_1.reset_index(inplace=True)

all_jong3 = pd.merge(jong3[['temp', 'mise_med']], jong3_1[['temp','c_mise_med']], on = 'temp')

all_jong3.columns = [['부암동','부암동','부암동'],['temp','mise_med','c_mise_med']]

all_jong3['mise_mode'] = pd.DataFrame(mise_mode)

all_jong3['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong3.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong3['행정동명'] = '부암동'


all_jong3.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      40.0        19.0      40.0        10.0  부암동
1  2018-04-01 01      46.0        20.0      40.0        20.0  부암동
2  2018-04-01 02      45.0        19.0      40.0        10.0  부암동
3  2018-04-01 03      47.0        21.0      40.0        20.0  부암동
4  2018-04-01 04      49.5        23.5      40.0        20.0  부암동

# 4. 숭인2동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[3]['스테이션'])
숭인2동= pd.read_csv(filepath)
숭인2동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
숭인2동['DONG_NM'] = 종로단일스테이션.iloc[3]['행정동']
숭인2동['tm'] = 숭인2동.tm.apply(lambda x: str(x))
숭인2동['tm'] = 숭인2동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
숭인2동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    70  35.0    숭인2동
1 2018-04-01 00:01:00    73  37.0    숭인2동
2 2018-04-01 00:02:00    77  39.0    숭인2동
3 2018-04-01 00:03:00    76  38.0    숭인2동
4 2018-04-01 00:04:00    81  41.0    숭인2동

In [0]:
# 윗 부분 생략

# 행정동 - nowon3(숭인2동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


숭인2동['tm'] = pd.to_datetime(숭인2동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

숭인2동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

숭인2동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

숭인2동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 숭인2동.tm]
숭인2동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 숭인2동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

숭인2동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
숭인2동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

숭인2동_median = 숭인2동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong4 = pd.DataFrame(숭인2동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 숭인2동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 숭인2동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
숭인2동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
숭인2동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

숭인2동_Cmedian = 숭인2동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong4_1 = pd.DataFrame(숭인2동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 숭인2동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong4.reset_index(inplace=True)
jong4_1.reset_index(inplace=True)

all_jong4 = pd.merge(jong4[['temp', 'mise_med']], jong4_1[['temp','c_mise_med']], on = 'temp')

all_jong4.columns = [['숭인2동','숭인2동','숭인2동'],['temp','mise_med','c_mise_med']]

all_jong4['mise_mode'] = pd.DataFrame(mise_mode)

all_jong4['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong4.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong4['행정동명'] = '숭인2동'


all_jong4.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode  행정동명
0  2018-04-01 00      79.0        38.0      70.0        30.0  숭인2동
1  2018-04-01 01      87.0        38.0      70.0        30.0  숭인2동
2  2018-04-01 02      84.0        36.5      70.0        30.0  숭인2동
3  2018-04-01 03      76.0        35.0      70.0        30.0  숭인2동
4  2018-04-01 04      74.5        35.5      70.0        30.0  숭인2동

# 5. 이화동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[4]['스테이션'])
이화동= pd.read_csv(filepath)
이화동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
이화동['DONG_NM'] = 종로단일스테이션.iloc[4]['행정동']
이화동['tm'] = 이화동.tm.apply(lambda x: str(x))
이화동['tm'] = 이화동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
이화동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    43  23.0     이화동
1 2018-04-01 00:01:00    23  12.0     이화동
2 2018-04-01 00:02:00    56  30.0     이화동
3 2018-04-01 00:03:00    35  19.0     이화동
4 2018-04-01 00:04:00    38  20.0     이화동

In [0]:
#윗 부분 생략

# 행정동 - nowon3(이화동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


이화동['tm'] = pd.to_datetime(이화동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

이화동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

이화동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

이화동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 이화동.tm]
이화동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 이화동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

이화동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
이화동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

이화동_median = 이화동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong5 = pd.DataFrame(이화동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 이화동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 이화동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
이화동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
이화동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

이화동_Cmedian = 이화동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong5_1 = pd.DataFrame(이화동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 이화동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong5.reset_index(inplace=True)
jong5_1.reset_index(inplace=True)

all_jong5 = pd.merge(jong5[['temp', 'mise_med']], jong5_1[['temp','c_mise_med']], on = 'temp')

all_jong5.columns = [['이화동','이화동','이화동'],['temp','mise_med','c_mise_med']]

all_jong5['mise_mode'] = pd.DataFrame(mise_mode)

all_jong5['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong5.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong5['행정동명'] = '이화동'


all_jong5.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      43.0        23.0      40.0        20.0  이화동
1  2018-04-01 01      48.0        24.0      50.0        20.0  이화동
2  2018-04-01 02      52.0        24.0      50.0        20.0  이화동
3  2018-04-01 03      48.0        24.0      50.0        20.0  이화동
4  2018-04-01 04      51.5        28.0      50.0        20.0  이화동

# 6. 종로5,6가동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[5]['스테이션'])
종로56동 = pd.read_csv(filepath)
종로56동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
종로56동['DONG_NM'] = 종로단일스테이션.iloc[5]['행정동']
종로56동['tm'] = 종로56동.tm.apply(lambda x: str(x))
종로56동['tm'] = 종로56동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
종로56동.head()

                   tm  pm10  pm25  DONG_NM
0 2018-04-01 00:00:00    45  24.0  종로5,6가동
1 2018-04-01 00:01:00    45  24.0  종로5,6가동
2 2018-04-01 00:02:00    51  28.0  종로5,6가동
3 2018-04-01 00:03:00    65  35.0  종로5,6가동
4 2018-04-01 00:04:00    46  25.0  종로5,6가동

In [0]:
#윗 부분 생략

# 행정동 - nowon3(종로56동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


종로56동['tm'] = pd.to_datetime(종로56동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

종로56동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

종로56동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

종로56동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 종로56동.tm]
종로56동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 종로56동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

종로56동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
종로56동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

종로56동_median = 종로56동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong6 = pd.DataFrame(종로56동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 종로56동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 종로56동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
종로56동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
종로56동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

종로56동_Cmedian = 종로56동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong6_1 = pd.DataFrame(종로56동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 종로56동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong6.reset_index(inplace=True)
jong6_1.reset_index(inplace=True)

all_jong6 = pd.merge(jong6[['temp', 'mise_med']], jong6_1[['temp','c_mise_med']], on = 'temp')

all_jong6.columns = [['종로56동','종로56동','종로56동'],['temp','mise_med','c_mise_med']]

all_jong6['mise_mode'] = pd.DataFrame(mise_mode)

all_jong6['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong6.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong6['행정동명'] = '종로56동'


all_jong6.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode   행정동명
0  2018-04-01 00      45.0        24.0      40.0        20.0  종로56동
1  2018-04-01 01      47.5        23.0      40.0        20.0  종로56동
2  2018-04-01 02      49.0        23.0      40.0        20.0  종로56동
3  2018-04-01 03      49.0        25.0      40.0        20.0  종로56동
4  2018-04-01 04      48.0        25.0      40.0        20.0  종로56동

# 7. 창신3동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[6]['스테이션'])
창신3동 = pd.read_csv(filepath)
창신3동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
창신3동['DONG_NM'] = 종로단일스테이션.iloc[6]['행정동']
창신3동['tm'] = 창신3동.tm.apply(lambda x: str(x))
창신3동['tm'] = 창신3동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
창신3동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    54  27.0    창신3동
1 2018-04-01 00:01:00    42  21.0    창신3동
2 2018-04-01 00:02:00    59  30.0    창신3동
3 2018-04-01 00:03:00    41  20.0    창신3동
4 2018-04-01 00:04:00    54  27.0    창신3동

In [0]:
#윗 부분 생략

# 행정동 - nowon3(창신3동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


창신3동['tm'] = pd.to_datetime(창신3동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

창신3동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

창신3동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

창신3동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 창신3동.tm]
창신3동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 창신3동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

창신3동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
창신3동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

창신3동_median = 창신3동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong7 = pd.DataFrame(창신3동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 창신3동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 창신3동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
창신3동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
창신3동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

창신3동_Cmedian = 창신3동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong7_1 = pd.DataFrame(창신3동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 창신3동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong7.reset_index(inplace=True)
jong7_1.reset_index(inplace=True)

all_jong7 = pd.merge(jong7[['temp', 'mise_med']], jong7_1[['temp','c_mise_med']], on = 'temp')

all_jong7.columns = [['창신3동','창신3동','창신3동'],['temp','mise_med','c_mise_med']]

all_jong7['mise_mode'] = pd.DataFrame(mise_mode)

all_jong7['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong7.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong7['행정동명'] = '창신3동'


all_jong7.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode  행정동명
0  2018-04-01 00      46.5        23.0      40.0        20.0  창신3동
1  2018-04-01 01      52.0        22.0      50.0        20.0  창신3동
2  2018-04-01 02      52.0        22.0      50.0        20.0  창신3동
3  2018-04-01 03      52.0        23.0      50.0        20.0  창신3동
4  2018-04-01 04      48.0        23.0      40.0        20.0  창신3동

# 8. 청연동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[7]['스테이션'])
천연동 = pd.read_csv(filepath)
천연동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
천연동['DONG_NM'] = 종로단일스테이션.iloc[7]['행정동']
천연동['tm'] = 천연동.tm.apply(lambda x: str(x))
천연동['tm'] = 천연동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
천연동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    50  25.0     천연동
1 2018-04-01 00:01:00    33  16.0     천연동
2 2018-04-01 00:02:00    51  26.0     천연동
3 2018-04-01 00:03:00    67  34.0     천연동
4 2018-04-01 00:04:00    54  27.0     천연동

In [0]:
# 행정동 - nowon3(천연동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


천연동['tm'] = pd.to_datetime(천연동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

천연동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

천연동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

천연동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 천연동.tm]
천연동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 천연동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

천연동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
천연동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

천연동_median = 천연동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong8 = pd.DataFrame(천연동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 천연동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 천연동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
천연동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
천연동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

천연동_Cmedian = 천연동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong8_1 = pd.DataFrame(천연동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 천연동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong8.reset_index(inplace=True)
jong8_1.reset_index(inplace=True)

all_jong8 = pd.merge(jong8[['temp', 'mise_med']], jong8_1[['temp','c_mise_med']], on = 'temp')

all_jong8.columns = [['천연동','천연동','천연동'],['temp','mise_med','c_mise_med']]

all_jong8['mise_mode'] = pd.DataFrame(mise_mode)

all_jong8['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong8.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong8['행정동명'] = '천연동'


all_jong8.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      54.5        25.5      50.0        20.0  천연동
1  2018-04-01 01      60.0        22.0      60.0        20.0  천연동
2  2018-04-01 02      60.0        26.0      60.0        20.0  천연동
3  2018-04-01 03      62.0        29.0      60.0        30.0  천연동
4  2018-04-01 04      64.0        30.0      50.0        30.0  천연동

# 9. 청운효자동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[8]['스테이션'])
청운효자동 = pd.read_csv(filepath)
청운효자동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
청운효자동['DONG_NM'] = 종로단일스테이션.iloc[8]['행정동']
청운효자동['tm'] = 청운효자동.tm.apply(lambda x: str(x))
청운효자동['tm'] = 청운효자동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
청운효자동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    59  30.0   청운효자동
1 2018-04-01 00:01:00    39  19.0   청운효자동
2 2018-04-01 00:02:00    62  31.0   청운효자동
3 2018-04-01 00:03:00    49  24.0   청운효자동
4 2018-04-01 00:04:00    55  28.0   청운효자동

In [0]:
# 행정동 - nowon3(청운효자동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


청운효자동['tm'] = pd.to_datetime(청운효자동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

청운효자동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

청운효자동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

청운효자동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 청운효자동.tm]
청운효자동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 청운효자동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

청운효자동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
청운효자동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

청운효자동_median = 청운효자동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong9 = pd.DataFrame(청운효자동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 청운효자동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 청운효자동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
청운효자동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
청운효자동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

청운효자동_Cmedian = 청운효자동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong9_1 = pd.DataFrame(청운효자동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 청운효자동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong9.reset_index(inplace=True)
jong9_1.reset_index(inplace=True)

all_jong9 = pd.merge(jong9[['temp', 'mise_med']], jong9_1[['temp','c_mise_med']], on = 'temp')

all_jong9.columns = [['청운효자동','청운효자동','청운효자동'],['temp','mise_med','c_mise_med']]

all_jong9['mise_mode'] = pd.DataFrame(mise_mode)

all_jong9['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong9.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong9['행정동명'] = '청운효자동'


all_jong9.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode   행정동명
0  2018-04-01 00      49.5        23.0      40.0        20.0  청운효자동
1  2018-04-01 01      52.0        20.0      50.0        20.0  청운효자동
2  2018-04-01 02      54.0        23.0      50.0        20.0  청운효자동
3  2018-04-01 03      55.0        26.0      50.0        20.0  청운효자동
4  2018-04-01 04      60.0        28.0      50.0        20.0  청운효자동

# 10. 평창동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로단일스테이션.iloc[9]['스테이션'])
평창동 = pd.read_csv(filepath)
평창동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi','serial'],axis=1, inplace=True)
평창동['DONG_NM'] = 종로단일스테이션.iloc[9]['행정동']
평창동['tm'] = 평창동.tm.apply(lambda x: str(x))
평창동['tm'] = 평창동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
평창동.head()

                   tm  pm10  pm25 DONG_NM
0 2018-04-01 00:00:00    85  43.0     평창동
1 2018-04-01 00:01:00    29  14.0     평창동
2 2018-04-01 00:02:00    62  31.0     평창동
3 2018-04-01 00:03:00    72  36.0     평창동
4 2018-04-01 00:04:00    69  35.0     평창동

In [0]:
# 행정동 - nowon3(평창동) - station 1개
# 행정동별 datetime변경 및 이상치 처리 


평창동['tm'] = pd.to_datetime(평창동['tm'], format = '%Y%m%d%H%M')


#하고 싶은 것 :   
#동별 시간대별 미세먼지 농도
# -999, -9999 na로 바꾸고 해보자

평창동['pm10'].replace([-999,-9999], np.NaN, inplace=True)

평창동['pm25'].replace([-999,-9999], np.NaN, inplace=True)   

평창동.describe(include='all')

# 시간데이터 분, 초만 잘라내서 'temp'라는 이름의 변수로 넣어줌
temp = [str(i)[:-6] for i in 평창동.tm]
평창동['temp'] = temp


# 미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 평창동[['temp','pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])

평창동_미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'mise_med'])
평창동_미세먼지['mise_med'].replace([-999,-9999], np.NaN, inplace=True)

# 미세먼지 중앙값 구하기

평창동_median = 평창동_미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='mise_med')

jong10 = pd.DataFrame(평창동_median)


# 미세먼지 최빈값 구하기 
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 평창동[['temp', 'pm10']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1.head()



# 전체 데이터에 적용
mise_mode = []
for i in range(len(gugan_1)):
  mise_mode.append(mode(gugan_1.values[i]))


# 초미세먼지
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 평창동[['temp','pm25']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],i[1]])


    
평창동_초미세먼지 = pd.DataFrame(tlist, columns = ['temp', 'c_mise_med'])
평창동_초미세먼지['c_mise_med'].replace([-999,-9999], np.NaN, inplace=True)


# 초미세먼지 중앙값 구하기    

평창동_Cmedian = 평창동_초미세먼지.pivot_table(index='temp',
                           aggfunc='median', 
                           values='c_mise_med')


jong10_1 = pd.DataFrame(평창동_Cmedian)


# 초미세먼지 최빈값 구하기 

gugan = []
for i in 평창동[['temp', 'pm25']].values:
     gugan.append([i[0],[(i[1]//10)*10]])


gugan_3 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_3.head()



# 전체 데이터에 적용
cmise_mode = []
for i in range(len(gugan_3)):
  cmise_mode.append(mode(gugan_3.values[i]))

# 하나의 데이터프레임으로 만들기

jong10.reset_index(inplace=True)
jong10_1.reset_index(inplace=True)

all_jong10 = pd.merge(jong10[['temp', 'mise_med']], jong10_1[['temp','c_mise_med']], on = 'temp')

all_jong10.columns = [['평창동','평창동','평창동'],['temp','mise_med','c_mise_med']]

all_jong10['mise_mode'] = pd.DataFrame(mise_mode)

all_jong10['c_mise_mode'] = pd.DataFrame(cmise_mode)

all_jong10.columns = ['temp','mise_med','c_mise_med','mise_mode','c_mise_mode']

all_jong10['행정동명'] = '평창동'


all_jong10.head()

            temp  mise_med  c_mise_med mise_mode c_mise_mode 행정동명
0  2018-04-01 00      74.0        32.0      80.0        30.0  평창동
1  2018-04-01 01      70.0        26.0      80.0        20.0  평창동
2  2018-04-01 02      80.0        34.0      80.0        30.0  평창동
3  2018-04-01 03      84.5        40.5      80.0        40.0  평창동
4  2018-04-01 04      80.0        37.5      80.0        30.0  평창동

# airkorea data 합치기

In [0]:
#18년도 airkorea 파일 하나로 합치기
months_18 = range(4,13)

data = []
#columns = ['Unnamed: 0', '시도', '측정소명','측정소코드','아황산가스','일산화탄소','오존','이산화질소','PM10','PM2.5','날짜']

for month in months_18:
    path = '/content/drive/My Drive/수퍼판다/전처리(미세먼지)/airkorea_미세먼지/2018 %d월 종로 노원.xls' % month
    frame = pd.read_excel(path)
    frame = frame[frame['측정소명']=='종로구']
    
    frame['월'] = month
    data.append(frame)

airkorea_18 = pd.concat(data, ignore_index=True)

#위의 결과에 19년도 airkorea 파일 추가하기

months_19 = range(1,3)

for month in months_19:
    path = '/content/drive/My Drive/수퍼판다/전처리(미세먼지)/airkorea_미세먼지/2019 %d월 종로 노원.xls' % month
    frame = pd.read_excel(path)
    frame = frame[frame['측정소명']=='종로구']
    
    frame['월'] = month
    data.append(frame)

airkorea_18_19 = pd.concat(data, ignore_index=True)

airkorea_18_19.head()

              날짜       시도 측정소명   측정소코드  아황산가스  ...     오존  이산화질소  PM10  PM2.5  월
0  2018-04-01 01  서울 종로구   종로구  111123  0.007  ...  0.032  0.032  47.0   20.0  4
1  2018-04-01 02  서울 종로구   종로구  111123  0.007  ...  0.025  0.036  46.0   21.0  4
2  2018-04-01 03  서울 종로구   종로구  111123  0.007  ...  0.022  0.036  49.0   24.0  4
3  2018-04-01 04  서울 종로구   종로구  111123  0.008  ...  0.019  0.039  50.0   24.0  4
4  2018-04-01 05  서울 종로구   종로구  111123  0.008  ...  0.008  0.053  50.0   26.0  4

[5 rows x 11 columns]

In [0]:
airkorea_18_19.to_csv('통합.csv')

In [0]:
mise = pd.DataFrame(airkorea_18_19[['날짜','PM10','PM2.5']])
mise.head()

              날짜  PM10  PM2.5
0  2018-04-01 01  47.0   20.0
1  2018-04-01 02  46.0   21.0
2  2018-04-01 03  49.0   24.0
3  2018-04-01 04  50.0   24.0
4  2018-04-01 05  50.0   26.0

# 동별 데이터 + airkorea

In [0]:
all_jong1_add_airforce = pd.merge(all_jong1, mise, left_on='temp', right_on='날짜', how='outer')
all_jong2_add_airforce = pd.merge(all_jong2, mise, left_on='temp', right_on='날짜', how='outer')
all_jong3_add_airforce = pd.merge(all_jong3, mise, left_on='temp', right_on='날짜', how='outer')
all_jong4_add_airforce = pd.merge(all_jong4, mise, left_on='temp', right_on='날짜', how='outer')
all_jong5_add_airforce = pd.merge(all_jong5, mise, left_on='temp', right_on='날짜', how='outer')
all_jong6_add_airforce = pd.merge(all_jong6, mise, left_on='temp', right_on='날짜', how='outer')
all_jong7_add_airforce = pd.merge(all_jong7, mise, left_on='temp', right_on='날짜', how='outer')
all_jong8_add_airforce = pd.merge(all_jong8, mise, left_on='temp', right_on='날짜', how='outer')
all_jong9_add_airforce = pd.merge(all_jong9, mise, left_on='temp', right_on='날짜', how='outer')
all_jong10_add_airforce = pd.merge(all_jong10, mise, left_on='temp', right_on='날짜', how='outer')

In [0]:
all_jong1_add_airforce['mise_mode'] = all_jong1_add_airforce['mise_mode'].astype(float)
all_jong1_add_airforce['c_mise_mode'] = all_jong1_add_airforce['c_mise_mode'].astype(float)

all_jong2_add_airforce['mise_mode'] = all_jong2_add_airforce['mise_mode'].astype(float)
all_jong2_add_airforce['c_mise_mode'] = all_jong2_add_airforce['c_mise_mode'].astype(float)

all_jong3_add_airforce['mise_mode'] = all_jong3_add_airforce['mise_mode'].astype(float)
all_jong3_add_airforce['c_mise_mode'] = all_jong3_add_airforce['c_mise_mode'].astype(float)

all_jong4_add_airforce['mise_mode'] = all_jong4_add_airforce['mise_mode'].astype(float)
all_jong4_add_airforce['c_mise_mode'] = all_jong4_add_airforce['c_mise_mode'].astype(float)

all_jong5_add_airforce['mise_mode'] = all_jong5_add_airforce['mise_mode'].astype(float)
all_jong5_add_airforce['c_mise_mode'] = all_jong5_add_airforce['c_mise_mode'].astype(float)

all_jong6_add_airforce['mise_mode'] = all_jong6_add_airforce['mise_mode'].astype(float)
all_jong6_add_airforce['c_mise_mode'] = all_jong6_add_airforce['c_mise_mode'].astype(float)

all_jong7_add_airforce['mise_mode'] = all_jong7_add_airforce['mise_mode'].astype(float)
all_jong7_add_airforce['c_mise_mode'] = all_jong7_add_airforce['c_mise_mode'].astype(float)

all_jong8_add_airforce['mise_mode'] = all_jong8_add_airforce['mise_mode'].astype(float)
all_jong8_add_airforce['c_mise_mode'] = all_jong8_add_airforce['c_mise_mode'].astype(float)

all_jong9_add_airforce['mise_mode'] = all_jong9_add_airforce['mise_mode'].astype(float)
all_jong9_add_airforce['c_mise_mode'] = all_jong9_add_airforce['c_mise_mode'].astype(float)

all_jong10_add_airforce['mise_mode'] = all_jong10_add_airforce['mise_mode'].astype(float)
all_jong10_add_airforce['c_mise_mode'] = all_jong10_add_airforce['c_mise_mode'].astype(float)

In [0]:
all_jong1_add_airforce.mise_med.fillna(all_jong1_add_airforce.PM10, inplace=True)
all_jong1_add_airforce.mise_mode.fillna(all_jong1_add_airforce.PM10, inplace=True)
all_jong1_add_airforce.c_mise_med.fillna(all_jong1_add_airforce['PM2.5'], inplace=True)
all_jong1_add_airforce.c_mise_mode.fillna(all_jong1_add_airforce['PM2.5'], inplace=True)

all_jong2_add_airforce.mise_med.fillna(all_jong2_add_airforce.PM10, inplace=True)
all_jong2_add_airforce.mise_mode.fillna(all_jong2_add_airforce.PM10, inplace=True)
all_jong2_add_airforce.c_mise_med.fillna(all_jong2_add_airforce['PM2.5'], inplace=True)
all_jong2_add_airforce.c_mise_mode.fillna(all_jong2_add_airforce['PM2.5'], inplace=True)

all_jong3_add_airforce.mise_med.fillna(all_jong3_add_airforce.PM10, inplace=True)
all_jong3_add_airforce.mise_mode.fillna(all_jong3_add_airforce.PM10, inplace=True)
all_jong3_add_airforce.c_mise_med.fillna(all_jong3_add_airforce['PM2.5'], inplace=True)
all_jong3_add_airforce.c_mise_mode.fillna(all_jong3_add_airforce['PM2.5'], inplace=True)

all_jong4_add_airforce.mise_med.fillna(all_jong4_add_airforce.PM10, inplace=True)
all_jong4_add_airforce.mise_mode.fillna(all_jong4_add_airforce.PM10, inplace=True)
all_jong4_add_airforce.c_mise_med.fillna(all_jong4_add_airforce['PM2.5'], inplace=True)
all_jong4_add_airforce.c_mise_mode.fillna(all_jong4_add_airforce['PM2.5'], inplace=True)

all_jong5_add_airforce.mise_med.fillna(all_jong5_add_airforce.PM10, inplace=True)
all_jong5_add_airforce.mise_mode.fillna(all_jong5_add_airforce.PM10, inplace=True)
all_jong5_add_airforce.c_mise_med.fillna(all_jong5_add_airforce['PM2.5'], inplace=True)
all_jong5_add_airforce.c_mise_mode.fillna(all_jong5_add_airforce['PM2.5'], inplace=True)

all_jong6_add_airforce.mise_med.fillna(all_jong6_add_airforce.PM10, inplace=True)
all_jong6_add_airforce.mise_mode.fillna(all_jong6_add_airforce.PM10, inplace=True)
all_jong6_add_airforce.c_mise_med.fillna(all_jong6_add_airforce['PM2.5'], inplace=True)
all_jong6_add_airforce.c_mise_mode.fillna(all_jong6_add_airforce['PM2.5'], inplace=True)


all_jong7_add_airforce.mise_med.fillna(all_jong7_add_airforce.PM10, inplace=True)
all_jong7_add_airforce.mise_mode.fillna(all_jong7_add_airforce.PM10, inplace=True)
all_jong7_add_airforce.c_mise_med.fillna(all_jong7_add_airforce['PM2.5'], inplace=True)
all_jong7_add_airforce.c_mise_mode.fillna(all_jong7_add_airforce['PM2.5'], inplace=True)

all_jong8_add_airforce.mise_med.fillna(all_jong8_add_airforce.PM10, inplace=True)
all_jong8_add_airforce.mise_mode.fillna(all_jong8_add_airforce.PM10, inplace=True)
all_jong8_add_airforce.c_mise_med.fillna(all_jong8_add_airforce['PM2.5'], inplace=True)
all_jong8_add_airforce.c_mise_mode.fillna(all_jong8_add_airforce['PM2.5'], inplace=True)

all_jong9_add_airforce.mise_med.fillna(all_jong9_add_airforce.PM10, inplace=True)
all_jong9_add_airforce.mise_mode.fillna(all_jong9_add_airforce.PM10, inplace=True)
all_jong9_add_airforce.c_mise_med.fillna(all_jong9_add_airforce['PM2.5'], inplace=True)
all_jong9_add_airforce.c_mise_mode.fillna(all_jong9_add_airforce['PM2.5'], inplace=True)

all_jong10_add_airforce.mise_med.fillna(all_jong10_add_airforce.PM10, inplace=True)
all_jong10_add_airforce.mise_mode.fillna(all_jong10_add_airforce.PM10, inplace=True)
all_jong10_add_airforce.c_mise_med.fillna(all_jong10_add_airforce['PM2.5'], inplace=True)
all_jong10_add_airforce.c_mise_mode.fillna(all_jong10_add_airforce['PM2.5'], inplace=True)

In [0]:
all_jong1_add_airforce.to_excel('교남동.xlsx' ,sheet_name='교남동')
all_jong2_add_airforce.to_excel('명동.xlsx' ,sheet_name='명동')
all_jong3_add_airforce.to_excel('부암동.xlsx' ,sheet_name='부암동')
all_jong4_add_airforce.to_excel('숭인2동.xlsx' ,sheet_name='숭인2동')
all_jong5_add_airforce.to_excel('이화동.xlsx' ,sheet_name='이화동')
all_jong6_add_airforce.to_excel('종로5,6가동.xlsx' ,sheet_name='종로5,6가동')
all_jong7_add_airforce.to_excel('창신3동.xlsx' ,sheet_name='창신3동')
all_jong8_add_airforce.to_excel('청연동.xlsx' ,sheet_name='청연동')
all_jong9_add_airforce.to_excel('청운효자동.xlsx' ,sheet_name='청운효자동')
all_jong10_add_airforce.to_excel('평창동.xlsx' ,sheet_name='평창동')

# 다중스테이션

In [0]:
def multi_st(num):
    df_return = tm_all
    for i in j_hdong.loc[jong_dong[num],:].values:  # 여기서 jong_dong[_] 안의 숫자만 바꿔가면서 돌려주면 됨
        filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(i[0])
        a = pd.read_csv(filepath)
        b = a['pm10'].replace([-999,-9999], np.NaN)
        b = a['noise'].replace([-999,-9999], np.NaN)
        b = a['temp'].replace([-999,-9999], np.NaN)
        b = a['humi'].replace([-999,-9999], np.NaN)
        b = a['pm25'].replace([-999,-9999], np.NaN)
        b.dropna(how='all',inplace=True)
        if len(b) == 0:
            pass
        else:
            df_return = pd.merge(df_return,a[['tm', 'pm10', 'pm25', 'temp', 'humi']],on = 'tm',how = 'outer')
    df_return['DONG_NM'] = jong_dong[num]
    return df_return

In [0]:
jong_dong = sorted(airdef['행정동'].unique())
jong_dong

In [0]:
종로다중스테이션

# 창신1동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로다중스테이션.iloc[-6]['스테이션'])
창신1동= pd.read_csv(filepath)
창신1동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi'],axis=1, inplace=True)
창신1동['DONG_NM'] = 종로다중스테이션.iloc[-6]['행정동']
창신1동['tm'] = 창신1동.tm.apply(lambda x: str(x))
창신1동['tm'] = 창신1동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
창신1동

In [0]:
창신1동.rename(columns = {'pm10': 'pm10_x', 'pm25': 'pm25_x'}, inplace=True)

In [0]:
창신1동

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로다중스테이션.iloc[-5]['스테이션'])
창신1동_1= pd.read_csv(filepath)
창신1동_1.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi'],axis=1, inplace=True)
창신1동_1['DONG_NM'] = 종로다중스테이션.iloc[-5]['행정동']
창신1동_1['tm'] = 창신1동_1.tm.apply(lambda x: str(x))
창신1동_1['tm'] = 창신1동_1.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
창신1동_1.rename(columns = {'pm10': 'pm10_y', 'pm25': 'pm25_y'}, inplace=True)

In [0]:
창신1동 = pd.merge(창신1동, 창신1동_1, on='tm')

In [0]:
창신1동

In [0]:
창신1동['pm10_x'].replace([-999,-9999], np.NaN, inplace=True)
창신1동['pm10_y'].replace([-999,-9999], np.NaN, inplace=True)

창신1동['pm25_x'].replace([-999,-9999], np.NaN, inplace=True)   
창신1동['pm25_y'].replace([-999,-9999], np.NaN, inplace=True)

In [0]:
temp = [str(i)[:-6] for i in 창신1동.tm]
창신1동['temp'] = temp
창신1동.head()

In [0]:
# 미세먼지 처리하기
tlist = []
for i in 창신1동[['temp','pm10_x', 'pm10_y']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1], i[2]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'mise'])
tdataframe.head()
창신1동_2 = pd.DataFrame(tdataframe.groupby('temp')['mise'].sum())
창신1동_2.head()

In [0]:
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 창신1동[['temp','pm10_x', 'pm10_y']].values:
    gugan.append([i[0],[(i[1]//10)*10, (i[2]//10)*10]])
    
gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()

# 리스트 안에 na값 있으면 mode, median 불가능 
# -> na값 없앰
gugan_list = []
for i in gugan_1.values:
    gugan_list.append([j for j in i if ~np.isnan(j)])

    # 구간값의 median 구함

gugan_mode = []
for i in gugan_list:
    if len(i) == 0:
        gugan_mode.append(np.NaN)
    else:
        gugan_mode.append(max(set(i), key=i.count))
gugan_mode[:10]

창신1동_2['gugan_mode'] = gugan_mode
창신1동_2.head()

In [0]:
mise_med = []

for i in 창신1동_2.values:
    mise_med.append(s.median(i[0]))
창신1동_2['mise_med'] = mise_med

In [0]:
sum(창신1동_2['gugan_mode'].isna())

In [0]:
# 미세먼지 최빈구간 내 값들의 평균

mise_mode = []
for i in range(len(창신1동_2)):
    if np.isnan(창신1동_2['gugan_mode'][i]):
        mise_mode.append(np.NaN)
    else:
        mise_mode.append(s.mean([j for j in 창신1동_2['mise'][i] if j//10*10 == 창신1동_2['gugan_mode'][i]]))
mise_mode

In [0]:
창신1동_2['mise_mode'] = mise_mode
창신1동_2.head(50)

In [0]:
# 초미세먼지

# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 창신1동[['temp','pm25_x', 'pm25_y']].values:   # 초미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1], i[2]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'c_mise'])
tdataframe.head()
창신1동_3 = pd.DataFrame(tdataframe.groupby('temp')['c_mise'].sum())
창신1동_3.head()

In [0]:
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 창신1동[['temp','pm25_x', 'pm25_y']].values:
    gugan.append([i[0],[(i[1]//10)*10, (i[2]//10)*10]])
    
gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()


# 리스트 안에 na값 있으면 mode, median 불가능 
# -> na값 없앰
gugan_list = []
for i in gugan_1.values:
    gugan_list.append([j for j in i if ~np.isnan(j)])

# 구간값의 median 구함

gugan_mode = []
for i in gugan_list:
    if len(i) == 0:
        gugan_mode.append(np.NaN)
    else:
        gugan_mode.append(max(set(i), key=i.count))
gugan_mode[:10]

# 기존 데이터에 추가
창신1동_3['gugan_mode'] = gugan_mode
창신1동_3.head()

In [0]:
# 초미세먼지 중위수 추가
c_mise_med = []

for i in 창신1동_3.values:
    c_mise_med.append(s.median(i[0]))
창신1동_3['c_mise_med'] = c_mise_med

In [0]:
# 초미세먼지 최빈구간 내 값들의 평균

c_mise_mode = []
for i in range(len(창신1동_3)):
    if np.isnan(창신1동_3['gugan_mode'][i]):
        c_mise_mode.append(np.NaN)
    else:
        c_mise_mode.append(s.mean([j for j in 창신1동_3['c_mise'][i] if j//10*10 == 창신1동_3['gugan_mode'][i]]))
c_mise_mode

In [0]:
창신1동_3['c_mise_mode'] = c_mise_mode
창신1동_3.rename(columns={'gugan_mode': '구간_mode', 'mise_med': '미세먼지_med', 'mise_mode': '미세먼지_mode', 'c_mise_med': '초미세먼지_med', 'c_mise_mode': '초미세먼지_mode'}, inplace=True)
창신1동_3.head(5)

In [0]:
창신1동_3.to_csv('창신1동.csv', mode ='w')

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로다중스테이션.iloc[-6]['스테이션'])
창신1동= pd.read_csv(filepath)
창신1동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi'],axis=1, inplace=True)
창신1동['DONG_NM'] = 종로다중스테이션.iloc[-6]['행정동']
창신1동['tm'] = 창신1동.tm.apply(lambda x: str(x))
창신1동['tm'] = 창신1동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
창신1동

창신1동.rename(columns = {'pm10': 'pm10_x', 'pm25': 'pm25_x'}, inplace=True)

filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로다중스테이션.iloc[-5]['스테이션'])
창신1동_1= pd.read_csv(filepath)
창신1동_1.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi'],axis=1, inplace=True)
창신1동_1['DONG_NM'] = 종로다중스테이션.iloc[-5]['행정동']
창신1동_1['tm'] = 창신1동_1.tm.apply(lambda x: str(x))
창신1동_1['tm'] = 창신1동_1.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
창신1동_1.rename(columns = {'pm10': 'pm10_y', 'pm25': 'pm25_y'}, inplace=True)

창신1동 = pd.merge(창신1동, 창신1동_1, on='tm')

창신1동['pm10_x'].replace([-999,-9999], np.NaN, inplace=True)
창신1동['pm10_y'].replace([-999,-9999], np.NaN, inplace=True)

창신1동['pm25_x'].replace([-999,-9999], np.NaN, inplace=True)   
창신1동['pm25_y'].replace([-999,-9999], np.NaN, inplace=True)   

temp = [str(i)[:-6] for i in 창신1동.tm]
창신1동['temp'] = temp
창신1동.head()


# 미세먼지 처리하기
tlist = []
for i in 창신1동[['temp','pm10_x', 'pm10_y']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1], i[2]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'mise'])
tdataframe.head()
창신1동_2 = pd.DataFrame(tdataframe.groupby('temp')['mise'].sum())
창신1동_2.head()

# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 창신1동[['temp','pm10_x', 'pm10_y']].values:
    gugan.append([i[0],[(i[1]//10)*10, (i[2]//10)*10]])
    
gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()

# 리스트 안에 na값 있으면 mode, median 불가능 
# -> na값 없앰
gugan_list = []
for i in gugan_1.values:
    gugan_list.append([j for j in i if ~np.isnan(j)])

    # 구간값의 median 구함

gugan_mode = []
for i in gugan_list:
    if len(i) == 0:
        gugan_mode.append(np.NaN)
    else:
        gugan_mode.append(max(set(i), key=i.count))
gugan_mode[:10]

창신1동_2['gugan_mode'] = gugan_mode
창신1동_2.head()


mise_med = []

for i in 창신1동_2.values:
    mise_med.append(s.median(i[0]))
창신1동_2['mise_med'] = mise_med

sum(창신1동_2['gugan_mode'].isna())

# 미세먼지 최빈구간 내 값들의 평균

mise_mode = []
for i in range(len(창신1동_2)):
    if np.isnan(창신1동_2['gugan_mode'][i]):
        mise_mode.append(np.NaN)
    else:
        mise_mode.append(s.mean([j for j in 창신1동_2['mise'][i] if j//10*10 == 창신1동_2['gugan_mode'][i]]))
mise_mode   


창신1동_2['mise_mode'] = mise_mode
창신1동_2.head(50)

 #초미세먼지

# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 창신1동[['temp','pm25_x', 'pm25_y']].values:   # 초미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1], i[2]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'c_mise'])
tdataframe.head()
창신1동_3 = pd.DataFrame(tdataframe.groupby('temp')['c_mise'].sum())
창신1동_3.head()

# 초미세먼지 중위수 추가
c_mise_med = []

for i in 창신1동_3.values:
    c_mise_med.append(s.median(i[0]))
창신1동_3['c_mise_med'] = c_mise_med

# 초미세먼지 최빈구간 내 값들의 평균

c_mise_mode = []
for i in range(len(창신1동_3)):
    if np.isnan(창신1동_3['gugan_mode'][i]):
        c_mise_mode.append(np.NaN)
    else:
        c_mise_mode.append(s.mean([j for j in 창신1동_3['c_mise'][i] if j//10*10 == 창신1동_3['gugan_mode'][i]]))
c_mise_mode    


# 초미세먼지 최빈구간 내 값들의 평균

c_mise_mode = []
for i in range(len(창신1동_3)):
    if np.isnan(창신1동_3['gugan_mode'][i]):
        c_mise_mode.append(np.NaN)
    else:
        c_mise_mode.append(s.mean([j for j in 창신1동_3['c_mise'][i] if j//10*10 == 창신1동_3['gugan_mode'][i]]))
c_mise_mode    

창신1동_3['c_mise_mode'] = c_mise_mode
창신1동_3.rename(columns={'gugan_mode': '구간_mode', 'mise_med': '미세먼지_med', 'mise_mode': '미세먼지_mode', 'c_mise_med': '초미세먼지_med', 'c_mise_mode': '초미세먼지_mode'}, inplace=True)
창신1동_3.head(5)

## 종로 1,2,3,4 가동

결측값이 없는 스테이션 하나만 처리

In [0]:
filepath = '/content/drive/My Drive/수퍼판다/data/air/jongro/{}.csv'.format(종로다중스테이션.iloc[7]['스테이션'])
종로가동= pd.read_csv(filepath)
종로가동.drop(['Unnamed: 10','co2','vocs', 'flag', 'noise','temp','humi'],axis=1, inplace=True)
종로가동['DONG_NM'] = 종로다중스테이션.iloc[7]['행정동']
종로가동['tm'] = 종로가동.tm.apply(lambda x: str(x))
종로가동['tm'] = 종로가동.tm.apply(lambda x: datetime.strptime(x, '%Y%m%d%H%M'))
종로가동.info()

In [0]:
종로가동

In [0]:
temp = [str(i)[:-6] for i in 종로가동.tm]
종로가동['temp'] = temp
종로가동.head()

In [0]:
len(종로가동)

In [0]:
# 같은 동 내 다른 스테이션에서 측정된 미세먼지농도를 하나의 리스트로 묶은 것 'mise'라는 이름의 변수를 가지는 데이터프레임 생성

tlist = []
for i in 종로가동[['temp', 'pm10']].values:   # 미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'mise'])
tdataframe.head()
종가_mise = pd.DataFrame(tdataframe.groupby('temp')['mise'].sum())
종가_mise.head()

In [0]:
# 위와 같은 일을 하는데 1의자리에서 버린 값을 넣어줌 (최빈구간 구하기 위해)

gugan = []
for i in 종로가동[['temp','pm10']].values:
    gugan.append([i[0],[(i[1]//10)*10]])
    
gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1

In [0]:
len(gugan_1)

In [0]:
gugan_list = []
for i in gugan_1.values:
    gugan_list.append([j for j in i if ~np.isnan(j)])

In [0]:
len(gugan_list)

In [0]:
gugan_mode = []
for i in gugan_list:
    if len(i) == 0:
        gugan_mode.append(np.NaN)
    else:
        gugan_mode.append(max(set(i), key=i.count))
gugan_mode[:10]

In [0]:
guan_mode = pd.DataFrame(gugan_mode)

In [0]:
len(gugan_mode)

In [0]:
# 기존 데이터에 추가
종가_mise['gugan_mode'] = gugan_mode
종가_mise.head()

In [0]:
종로미세 = 종가_mise
종로미세.rename(columns = {'gugan_mode': '미세먼저/hour'}, inplace=True)

In [0]:
종로미세.drop(['mise'], axis=1, inplace=True)

In [0]:
종로미세

-----------------------------------------------------------------------여기까지 종로1,2,3,4가 미세먼지 시간별로 정리 완료 ------------------------------------------------

In [0]:
tlist = []
for i in 종로가동[['temp','pm25']].values:   # 초미세먼지 데이터에서 시간(에서 분,초 뺀 것), 미세먼지만 떼어 냄
    tlist.append([i[0],[i[1]]])



tdataframe = pd.DataFrame(tlist, columns = ['temp', 'c_mise'])
tdataframe.head()
종로_cho = pd.DataFrame(tdataframe.groupby('temp')['c_mise'].sum())
종로_cho.head()

In [0]:
gugan = []
for i in 종로가동[['temp','pm25']].values:
    gugan.append([i[0],[(i[1]//10)*10]])
    
gugan_1 = pd.DataFrame(gugan, columns = ['temp', 'gugan']).groupby('temp')['gugan'].sum()
gugan_1

In [0]:
gugan_list = []
for i in gugan_1.values:
    gugan_list.append([j for j in i if ~np.isnan(j)])

In [0]:
# 구간값의 median 구함

gugan_mode = []
for i in gugan_list:
    if len(i) == 0:
        gugan_mode.append(np.NaN)
    else:
        gugan_mode.append(max(set(i), key=i.count))
gugan_mode[:10]

In [0]:
종로_cho['gugan_mode'] = gugan_mode
종로_cho.head()

In [0]:
종로미세['초미세먼지/hour'] = 종로_cho.gugan_mode
종로미세

In [0]:
종로미세.to_csv("종로1,2,3,4가.csv", mode='w')

In [0]:
j_hdong.loc[jong_dong[0],:].values

In [0]:
tm_all = pd.DataFrame(data = pd.date_range(start='2018-04-01 00:00:00', end='2019-03-31 23:59:00',freq='1min')\
             .strftime('%Y%m%d%H%M').astype(int), columns = ['tm'])